@charset "UTF-8";
/* CSS Document */

body {
  font-size: 11px;
}

h1.hd01 {
font-size: 125%;
margin: 4px auto 8px auto;}


h1.hd02 {
font-size: 120%;
margin: 24px auto 8px auto;}



.select-box01 select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}


table.nml{width: 100%;
border-top: 1px solid #999999;
border-left: 1px solid #999999;
border-collapse: collapse;
border-spacing: 0;
text-align: left;}


table.nml th, table.nml td {
padding: 8px 16px;
border-right: 1px solid #999999;
border-bottom: 1px solid #999999;
vertical-align: top;}

table.nml th.center {
	text-align:center;}
	

table.nml th.right {
	text-align:right;}	
 
dl.ex {
border-top: 1px solid #999999;
border-style : solid;
border-color : #000000;
width  : 100%;
}

 
dd.ex {
border-bottom: 1px solid #999999;
background: #eee;
padding : 10px 10px 10px 40px;
}

dt.ex{
border-bottom: 1px solid #999999;
background: #eee;
padding : 10px;
color:#900;	
font-weight:bold;
}

span.ex{
color:#900;	
font-weight:bold;
}

.intro{
margin:8px;

border: 2px solid #c1def5;
background: #e8effb;
padding:8px;
}

.intro dl dt{
background-color:none;
}

.fs_s{
margin-top:10px;
margin-bottom:10px;
margin-left:8px;
mfont-size: 80% !important;
}

.btn_top01{
background-color: #2083d4;
color: #ffffff;
width:100%;
height:150px;
margin-top:30px;
margin-bottom:10px;
border: none;
text-align: center;
font-weight: bold;
font-size: 28px;
-webkit-border-radius: 8px;
border-radius: 8px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

.btn_top01:hover{
background-color: #2393db;
}

.btn_top01 a{
padding-top:55px;
color:#fff;
display: block;
height:95px;
width:100%;
text-decoration:none;
}

.btn_top02{
background-color: #eeb800;
color: #ffffff;
width:100%;
height:150px;
margin-top:30px;
margin-bottom:10px;
border: none;
text-align: center;
font-weight: bold;
font-size: 28px;
-webkit-border-radius: 8px;
border-radius: 8px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

.btn_top02:hover{
background-color: #f3c500;
}

.btn_top02 a{
padding-top:55px;
color:#fff;
display: block;
height:95px;
width:100%;
text-decoration:none;
}

.mds_replace{
margin-left:8px;
color: #2083d4;
font-size:24px;
font-weight:bold;
}

.linkbtn_tonew{
float:right;		
background-color: #eeb800;
color: #ffffff;
margin-top:5px;
margin-right:8px;
margin-bottom:5px;
padding:5px;
border: none;
text-align: center;
font-size: 14px;
-webkit-border-radius: 8px;
border-radius: 8px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

.linkbtn_tonew a{color:#FFF;
text-decoration:none;
}

.mds_new{
margin-left:8px;
color: #eeb800;
font-size:24px;
font-weight:bold;
}

.linkbtn_toreplace{
float:right;		
background-color: #2083d4;
color: #ffffff;
margin-top:5px;
margin-right:8px;
margin-bottom:5px;
padding:5px;
border: none;
text-align: center;
font-size: 14px;
-webkit-border-radius: 8px;
border-radius: 8px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
}

.linkbtn_toreplace a{color:#FFF;
text-decoration:none;
}

.linkbtn_tonew a{color:#FFF;
text-decoration:none;
}

.mds_replace_underline{
	margin-top:20px;
	margin-bottom:20px;
	color: #2083d4;
	font-size:20px;
	font-weight:bold;
	border-bottom:solid 1px #2083d4;}

.mds_replace_underline2{
	margin-top:20px;
	margin-bottom:5px;
	color: #2083d4;
	font-size:20px;
	font-weight:bold;
	border-bottom:solid 1px #2083d4;}
	
.mds_replace_bl	{
margin-bottom:10px;
font-size:18px;
font-weight:bold;
}


.mds_new_underline{
	margin-top:20px;
	margin-bottom:20px;
	color: #eeb800;
	font-size:20px;
	font-weight:bold;
	border-bottom:solid 1px #eeb800;}

.mds_new_underline2{
	margin-top:20px;
	margin-bottom:5px;
	color: #eeb800;
	font-size:20px;
	font-weight:bold;
	border-bottom:solid 1px #eeb800;}

.mds_new_bl	{
margin-bottom:10px;
font-size:18px;
font-weight:bold;
}

.mds_mitsumori {
margin-top:10px;	
margin-bottom:8px;
font-size:24px;
font-weight:bold;
color:#666;
}

.linkbtn_tonew {display: none !important;
}

.linkbtn_toreplace {display: none !important;
}

.print_btn {display: none !important;
}

.print_btn a {display: none !important;
}

div.reinforcement_nv.mb24.pd16 {display: none !important;
}
.intro {display: none !important;
}
#gl_footer {display: none !important;
}

.pbr{
	page-break-before: always;
}

.pot {
 margin-bottom: 10px;
 font-size: 18px;
 font-weight: bold;
}


.pot_cmt {
 margin-bottom: 10px;
 font-size: 14px;
 font-weight: normal;
}

.coution_cmt{
 margin-top: 2px;
 margin-bottom: 0px;
 margin-left: 8px;
 font-size: 80% !important;
}

.err_cmt {
 color: red;
 font-weight: bold;
}

/*
input.nml[type="radio"] + label::before{
width: 16px;
height: 16px;
margin-top: -8px;
}

input.nml[type="radio"]:checked {
width: 16px;
height: 16px;
margin-top: -8px;
}
*/