<!DOCTYPE html>
<html ng-app="myApp" lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8" />
    <title>リコーひかり カンタン見積もりツール　| リコー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="copyright" content="Copyright Ricoh Company, Ltd. / RICOH JAPAN Corporation" />

    <!-- //////////ssi css_js//////////// -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="https://www.ricoh.co.jp/cmn_v1/img/favicon.ico" />
    <link rel="apple-touch-icon" href="https://www.ricoh.co.jp/cmn_v1/img/apple_icon.png" />
    <link rel="stylesheet" type="text/css" media="all" href="https://www.ricoh.co.jp/cmn_v1/css/import.css" />

    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
    <link rel="stylesheet" type="text/css" media="print" href="css/print.css" />

    <!-- CDNインストール　デバッグ用 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.js"></script>
    <!-- CDNインストール　本番用
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.min.js"></script>
 -->

    <script src="js/service.js"></script>

</head>

<body ng-controller="MyController" ng-cloak>
    <div id="wrapper">
        <!-- //////////ssi noscript//////////// -->
        <noscript>
            <div class="noscript">このウェブサイトのレイアウトやリンクの一部は、Javascriptを無効にすると正常に機能しない場合があります。 正しくこのウェブサイトを表示するには
                <span>JavaScript</span>を有効にしてください。
            </div>
        </noscript>
        <a href="#contents" class="hide">このページの本文へ</a>
        <a href="#gl_nv" class="hide">このサイトのメインメニューへ</a>
        <!-- ///////// /ssi noscript//////////// -->
        <div id="gl_header" class="act_solution">
            <!-- //////////ssi header//////////// -->
            <div class="gl_hd">
                <div class="inner">
                    <p class="hd_lg"><a href=".">RICOH imagine. change.</a></p>
                    <div class="hd_ut">
                        <span class="hd_ut_country"></span>
                        <!--/hd_ut-->
                    </div>
                    <!--/inner-->
                </div>
                <!--/gl_hd-->
            </div>
            <a href="#contents" class="hide">このページの本文へ</a>
            <span class="hide">ここからこのサイトのメインメニュー</span>

            <a href="#" class="gl_nv_btn">Menu</a>
            <div class="gl_nv_s">
                <div class="hd_ut_s">
                    <a href="http://www.ricoh.com/gateway/" target="_blank" class="hd_ut_change">Change Country</a>
                    <!--/hd_ut_s-->
                </div>

                <div id="gl_nv">
                    <!--/gl_nv-->
                </div>
                <!--/gl_nv_s-->
            </div>
            <!--/gl_header-->
        </div>
        <div id="contents">
            <span class="hide">ここから本文です </span>
            <div class="sct_bg01 pt0">
                <div class="cnt_max">
                    <h1 class="hd01">リコーひかり カンタン見積もりツール</h1>
                    <div class="clm1">
                        <div class="clm">
                            <div class="reinforcement_nv mb24 pd16">
                                <h2 class="hd02">契約条件の入力</h2>
                                <span class="fm_tbl mb16 clm tlSame01">
                                    <input id="cpshow" type="checkbox" ng-model="precont_show" class="nml" />
                                    <label for="cpshow">詳細を表示する</label>
                                </span>
                                <br clear="all" ; />
                                <div id="precont" ng-if="precont_show">
                                    <h4 class="mds_new_underline">現在お使いのインターネット・電話回線</h4>
                                    <form name="username" ng-submit="">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">お客様　お名前</span></p>
                                            <div>
                                                <input id="clNameIn" class="text-box01" name="name" ng-model="contSel.clName" style="width:200px;" />様
                                            </div>

                                            <!--/fm_tbl-->
                                        </div>
                                    </form>
                                    <form name="internet" ng-submit="">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">住居・オフィスの形態</span></p>
                                            <div class="select-box01">
                                                <select id="oldSvId" ng-model="contSel.build_type" ng-options="ht.id as ht.name for ht in home_types" style="width:200px;">
                                                <option value="" selected="selected">以下から選んで下さい</option>
                                                </select>
                                            </div>
                                            <!-- {{contSel.build_type}} -->
                                            <!--/fm_tbl-->
                                        </div>
                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">インターネット接続</span></p>
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">回線事業者</span></p>
                                            <div class="select-box01">
                                                <select id="oldPvId" ng-model="contSel.lineServicer" ng-options="sv.id as sv.name for sv in servicers" style="width:200px;">
                                                <option value="">以下から選択してください</option>
                                
                                            </select>
                                            </div>
                                        </div>
                                        <!-- {{contSel.lineServicer}} -->
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">回線サービス</span></p>
                                            <div class="select-box01" ng-if="contSel.build_type == 'house'">
                                                <select id="oldLine" ng-model="curentCont.Line" ng-options="li.svname for li in line_types | filter : { servicer_id : contSel.lineServicer ,build_type : 'house' }">
                                                    <option value="">以下から選択してください</option>
                                                </select>
                                            </div>
                                            <div class="select-box01" ng-if="contSel.build_type == 'building'">
                                                <select id="oldLine" ng-model="curentCont.Line" ng-options="li.svname for li in line_types | filter : { servicer_id : contSel.lineServicer }">
                                                <option value="">以下から選択してください</option>
                                            </select>
                                            </div>
                                            <!--/fm_tbl-->
                                        </div>
                                        <div class="fm_tbl mb16" ng-show="curentCont.Line.repair_ops">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">故障受付時間延長オプション</span></p>
                                            <div class="select-box01">
                                                <input type="checkbox" class="nml" ng-model="contSel.line.repOps" ng-true-value="true" ng-false-value="false" id="lop_rp"
                                                    name="lop_rp" />
                                                <label for="lop_rp">{{curentCont.Line.repair_ops.repair_extra.svname}}（{{curentCont.Line.repair_ops.repair_extra.svcomment}}）</label>
                                            </div>
                                            <!--/fm_tbl-->
                                        </div>
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">プロバイダ</span></p>
                                            <div class="select-box01">
                                                <select id="selIsps" ng-model="curentCont.Isp" ng-options="li_isp.svname for li_isp in isp_types" style="width:200px;">
                                                <option value="">以下から選択してください</option>
                                            </select>
                                            </div>
                                            <!--/fm_tbl-->
                                        </div>
                                    </form>
                                    <!-- R割 -->
                                    <form name="rwari" ng-submit="">
                                        <div class="fm_tbl mb16 clm tlSame01">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">R割対象機器</span></p>
                                            <div class="fm_tbl_dtl">
                                                <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                    <li class="selctbtn" style="height: 31px;">
                                                        <input type="radio" ng-model="contSel.rwari" value="no" name="rwari" class="nml" id="rwari_0" />
                                                        <label for="rwari_0">なし</label>
                                                    </li>
                                                    <li class="selctbtn" style="height: 31px;">
                                                        <input type="radio" ng-model="contSel.rwari" value="yes" name="rwari" class="nml" id="rwari_1" />
                                                        <label for="rwari_1">あり</label>
                                                    </li>
                                                </ul>
                                                <p class="fs_s">※R割対象機器：リコー製複合機／レーザプリンタ／POD機、ビジネスホン・PBX（リコージャパンから納入したもの）、BBパックSelect、BBパックNext、リモートネットワークサービス、ネットワークセキュリティパック、リコーテレビ会議・Web会議システム</p>
                                            </div>
                                        </div>
                                    </form>
                                    <form name="ri_netsvs" ng-submit="">
                                        <div class="fm_tbl mb16 clm tlSame01" ng-show="contSel.rwari =='yes'">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8 "><span class="fm_ttl fs16 ">R割対象機器（ITKeeper関連機器）</span></p>
                                            <div class="fm_tbl_dtl ">
                                                <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14 ">
                                                    <li class="selctbtn" style="height: 31px;">
                                                        <input type="radio" ng-model="contSel.ri_netsv" value="none" name="ri_netsv" class="nml" id="ri_netsv_0" />
                                                        <label for="ri_netsv_0">なし</label>
                                                    </li>
                                                    <li class="selctbtn" style="height: 31px;">
                                                        <input type="radio" ng-model="contSel.ri_netsv" value="bbs" name="ri_netsv" class="nml" id="ri_netsv_1" />
                                                        <label for="ri_netsv_1">{{netprodcuts.bbs.svname}}</label>
                                                    </li>
                                                    <li class="selctbtn" style="height: 31px;">
                                                        <input type="radio" ng-model="contSel.ri_netsv" value="bbn" name="ri_netsv" class="nml" id="ri_netsv_2" />
                                                        <label for="ri_netsv_2">{{netprodcuts.bbn.svname}}</label>
                                                    </li>
                                                    <li class="selctbtn" style="height: 31px;">
                                                        <input type="radio" ng-model="contSel.ri_netsv" value="rns" name="ri_netsv" class="nml" id="ri_netsv_3" />
                                                        <label for="ri_netsv_3">{{netprodcuts.rns.svname}}</label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                    <!--                            {{contSel.tel.ri_netsv}} -->
                                    <form name="hikari_tel" ng-submit="">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">電話回線</span></p>
                                            <div class="select-box01">
                                                <select id="oldTel" ng-model="curentCont.Tel" ng-change="onChOldtel()" ng-options="tel.svname disable when ((curentCont.Line.tel_type != 'ip')&&(tel.tel_type == 'ip')) for tel in tel_types"
                                                    style="width:200px;">
                                                <option value="" selected="selected"></option>以下から選択してください</option>
                                            </select>
                                            </div>
                                            <!--/fm_tbl-->
                                        </div>
                                        <!-- {{contSel.tel}} -->

                                        <!-- 電話回線数／チャネル数 -->
                                        <div class="fm_tbl mb16" ng-show="curentCont.Tel && curentCont.Tel.tel_type !='none'">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"></p>
                                            <div class="select-box01">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">番号数</span></p>
                                                <input id="nums_o" class="text-box01" name="nums_old" type="number" ng-change="onChNumsChs()" ng-model="contSel.tel.nums"
                                                    min="{{curentCont.Tel.min_nums}}" max="{{curentCont.Tel.max_nums}}" required
                                                    style="width:100px;" />
                                                <span>（{{curentCont.Tel.min_nums}}～{{curentCont.Tel.max_nums}}）</span>
                                            </div>
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"></p>
                                            <div class="select-box01">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">チャネル数</span></p>
                                                <input id="ch_o" class="text-box01" style="width:100px;" name="ch_old" type="number" ng-change="onChNumsChs()" ng-model="contSel.tel.chs"
                                                    min="{{curentCont.Tel.min_ch}}" max="{{curentCont.Tel.max_ch}}" required
                                                />
                                                <span>（{{curentCont.Tel.min_ch}}～{{curentCont.Tel.max_ch}}）</span>
                                            </div>
                                            <!--/fm_tbl-->
                                        </div>
                                        <!-- ひかり電話オプション（ひかり電話選択時） -->
                                        <div ng-show="curentCont.Tel.tel_type =='ip'">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">ひかり電話のオプション</span></p>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- グループ通話転送(gd:7) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.gd" ng-true-value="true" ng-false-value="false"
                                                        id="hop_gd" name="hop_gd" />
                                                    <label for="hop_gd">{{hikari_ops.gd.svname}}</label>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- ナンバー表示（ナンバーディスプレイ） (nd:1) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.nd" ng-true-value="true" ng-false-value="false"
                                                        id="hop_nd" name="hop_nd" />
                                                    <label for="hop_nd">{{hikari_ops.nd.svname}}</label>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- ナンバーリクエスト（ナンバーリクエスト） (nr:2) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.nr" ng-true-value="true" ng-false-value="false"
                                                        id="hop_nr" name="hop_nr" />
                                                    <label for="hop_nr">{{hikari_ops.nr.svname}}</label>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- 着信転送（ボイスワープ） (vw:0) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.vw" ng-true-value="true" ng-false-value="false"
                                                        id="hop_vw" name="hop_vw" />
                                                    <label for="hop_vw">{{hikari_ops.vw.svname}}</label>
                                                    <span ng-show="contSel.tel.hikari_ops.vw">
                                                        <label for="hop_vw_nums">（番号数：</label>
                                                        <input class="text-box01" style="width:100px;" type="number" value="1"  min="1" max="{{contSel.tel.nums}}" ng-model="contSel.tel.hikari_ops.vw_nums" ng-init="contSel.tel.hikari_ops.vw_nums ='1'" id="hop_vw_nums"  name="hop_vw_nums" />
                                                        ＜最大{{contSel.tel.nums}}番号まで＞）
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- 着信拒否（迷惑電話お断りサービス） (ro:4) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.ro" ng-true-value="true" ng-false-value="false"
                                                        id="hop_ro" name="hop_ro" />
                                                    <label for="hop_ro">{{hikari_ops.ro.svname}}</label>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- 着信お知らせメール (rm:6) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.rm" ng-true-value="true" ng-false-value="false"
                                                        id="hop_rm" name="hop_rm" />
                                                    <label for="hop_rm">{{hikari_ops.rm.svname}}</label>
                                                    <span ng-show="contSel.tel.hikari_ops.rm">
                                                        <label for="hop_rm_nums">（番号数：</label>
                                                        <input class="text-box01" style="width:100px;" type="number" value="1" min="1" max="{{contSel.tel.nums}}" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.rm_nums" ng-init="contSel.tel.hikari_ops.rm_nums ='1'" id="hop_rm_nums"  name="hop_rm_nums" />
                                                        ＜最大{{contSel.tel.nums}}番号まで＞）
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16" ng-hide="contSel.tel.sv_id=='hikari_oa'">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- FAXメール 5 -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.fm" ng-true-value="true" ng-false-value="false"
                                                        id="hop_fm" name="hop_fm" />
                                                    <label for="hop_fm">{{hikari_ops.fm.svname}}</label>
                                                    <span ng-show="contSel.tel.hikari_ops.fm">
                                                        <label for="hop_fm_nums">（番号数：</label>
                                                        <input class="text-box01" style="width:100px;" type="number" value="1" min="1" max="{{contSel.tel.nums}}" ng-model="contSel.tel.hikari_ops.fm_nums"  ng-init="contSel.tel.hikari_ops.fm_nums ='1'" id="hop_{{hikari_ops[5].sv_id}}_nums"  name="hop_{{hikari_ops[5].sv_id}}_nums" />
                                                        ＜最大{{contSel.tel.nums}}番号まで＞）
                                            </span>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- フリーアクセス (rp:9) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.rp" ng-true-value="true" ng-false-value="false"
                                                        id="hop_rp" name="hop_rp" />
                                                    <label for="hop_rp">{{hikari_ops.rp.svname}}</label>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16" ng-show="(contSel.tel.sv_id=='hikari_o')||(contSel.tel.sv_id=='hikari_oa')">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- ひかり電話オフィスタイプ対応アダプタ（4チャネル） (c4:10) -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.c4" ng-true-value="true" ng-false-value="false"
                                                        id="hop_c4" name="hop_c4" />
                                                    <label for="hop_c4">{{hikari_ops.c4.svname}}</label>
                                                    <span ng-show="contSel.tel.hikari_ops.c4">
                                                                <label for="hop_c4_nums"> <br />チャネル数：</label>
                                                                <input class="text-box01" style="width:100px;" type="number" min="1" max="8" ng-model="contSel.tel.hikari_ops.c4_nums"  ng-init="contSel.tel.hikari_ops.c4_nums ='1'" id="hop_{{hikari_ops[10].sv_id}}_nums"  name="hop_{{hikari_ops[10].sv_id}}_nums" />
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16" ng-show="(contSel.tel.sv_id=='hikari_o')||(contSel.tel.sv_id=='hikari_oa')">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                <div class="fm_tbl_dtl">
                                                    <!-- ひかり電話オフィスタイプ対応アダプタ（８チャネル） 11 -->
                                                    <input type="checkbox" class="nml" ng-change="onChNumsChs()" ng-model="contSel.tel.hikari_ops.c8" ng-true-value="true" ng-false-value="false"
                                                        id="hop_c8" name="hop_c8" />
                                                    <label for="hop_c8">{{hikari_ops.c8.svname}}</label>
                                                    <span ng-show="contSel.tel.hikari_ops.c8">
                                                            <label for="hop_c8_nums"> <br />チャネル数：</label>
                                                            <input class="text-box01" style="width:100px;" type="number" min="1" max="8" ng-model="contSel.tel.hikari_ops.c8_nums"  ng-init="contSel.tel.hikari_ops.c8_nums ='1'" id="hop_{{hikari_ops[11].sv_id}}_nums"  name="hop_{{hikari_ops[11].sv_id}}_nums" />
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--/fm_tbl-->
                        </div>
                    </div>
                    <div class="clm">
                        <div class="reinforcement_nv mb24 pd16">
                            <h2 class="hd02">乗り換え後に使用するサービスを選んで下さい</h2>
                            <div id="newcont">
                                <!-- サービスの選択 -->
                                <h4 class="mds_replace_underline">インターネット回線</h4>
                                <form name="newInet" ng-submit="">
                                    <div class="fm_tbl mb16">
                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">回線サービス</span></p>
                                        <div class="select-box01" ng-if="contSel.build_type == 'building' && curentCont.Line.build_type !='building'">
                                            <select id="newLine" ng-model="contNew.Line" ng-options="li.svname for li in line_types | filter : { servicer_id : 'rj' ,menu_type : contNew.menu_type }">
                                                            <option value="">以下から選択してください</option>
                                                </select>
                                        </div>
                                        <div class="select-box01" ng-if="contSel.build_type == 'building' && curentCont.Line.build_type =='building'">
                                            <select id="newLine" ng-model="contNew.Line" ng-options="li.svname for li in line_types | filter : { servicer_id : 'rj' ,build_type : 'building' ,menu_type : contNew.menu_type }">
                                                            <option value="">以下から選択してください</option>
                                                </select>
                                        </div>
                                        <div class="select-box01" ng-if="contSel.build_type == 'house'">
                                            <select id="newLine" ng-model="contNew.Line" ng-options="li.svname for li in line_types | filter : { servicer_id : 'rj',build_type : 'house' , menu_type : contNew.menu_type}">
                                                                    <option value="">以下から選択してください</option>
                                                    </select>
                                        </div>
                                        <!--/fm_tbl-->
                                    </div>
                                </form>
                                <!--  故障受付時間延長.-->
                                <form name="new_repOps" ng-submit="">
                                    <div class="fm_tbl mb16" ng-show="contNew.Line.repair_ops">
                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">故障受付時間延長オプション</span></p>
                                        <div class="select-box01">
                                            <input type="checkbox" class="nml" ng-model="contNew.line.repOps" ng-true-value="true" ng-false-value="false" id="rep_ops"
                                                name="rep_ops" />
                                            <label for="rep_ops">{{contNew.Line.repair_ops.repair_extra.svname}}（{{contNew.Line.repair_ops.repair_extra.svcomment}}）</label>
                                        </div>
                                        <!--/fm_tbl-->
                                    </div>
                                    <!--                                    {{contNew.Line_repOps}} -->
                                </form>
                                <!--  工事オプション.-->
                                <form name="new_repOps" ng-submit="">
                                    <div class="fm_tbl mb16">
                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">工事派遣の有無</span></p>
                                        <div class="fm_tbl_dtl">
                                            <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_constType" value="no_dispatch" name="constType" class="nml" id="constType_0" />
                                                    <label for="constType_0">派遣なし</label>
                                                </li>
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_constType" value="dispatch" name="constType" class="nml" id="constType_1" />
                                                    <label for="constType_1">派遣あり</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--/fm_tbl-->
                                    </div>
                                    <!-- {{newCont.Line_constType}} -->
                                    <div class="fm_tbl mb16" ng-show="contNew.Line.constType.sv_id == 'dispatch'">
                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">派遣工事の時間</span></p>
                                        <div class="fm_tbl_dtl">
                                            <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_constDay" value="disp_weekday" name="disp_day" class="nml" id="disp_day_0" />
                                                    <label for="disp_day_0">平日工事</label>
                                                </li>
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_constDay" value="disp_weekday" name="disp_day" class="nml" id="disp_day_1" />
                                                    <label for="disp_day_1">土日祝日工事</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--/fm_tbl-->
                                    </div>
                                    <div class="fm_tbl mb16">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">法人支援メニュー </span></p>
                                            <div class="fm_tbl_dtl">
                                                <input type="checkbox" class="nml" ng-model="contNew.Line_corp_menu" ng-true-value="true" ng-false-value="false" id="corp_menu"
                                                    name="corp_menu" />
                                                <label for="corp_menu">利用する</label>
                                            </div>
                                        </div>
                                        <!--/fm_tbl-->
                                    </div>
                                    <div class="fm_tbl mb16" ng-show="contNew.Line_corp_menu">
                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                        <div class="fm_tbl_dtl">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">時間帯</span></p>
                                            <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_corpTime" value="corp_day" name="corpTime" class="nml" id="corpTime_0" />
                                                    <label for="corpTime_0">日中帯</label>
                                                </li>
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_corpTime" value="corp_night" name="corpTime" class="nml" id="corpTime_1" />
                                                    <label for="corpTime_1">夜間帯</label>
                                                </li>
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="radio" ng-model="contNew.Line_corpTime" value="corp_deepn" name="corpTime" class="nml" id="corpTime_2" />
                                                    <label for="corpTime_2">深夜帯</label>
                                                </li>
                                            </ul>
                                            <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="checkbox" class="nml" ng-model="contNew.Line_corpTime.assign" ng-true-value="true" ng-false-value="false" id="corpTime_as"
                                                        name="corpTime_as" />
                                                    <label for="corpTime_as">時間指定</label>
                                                </li>
                                                <li class="selctbtn" style="height: 31px;">
                                                    <input type="checkbox" class="nml" ng-model="contNew.Line_corpTime.weekend" ng-true-value="true" ng-false-value="false" id="corpTime_we"
                                                        name="corpTime_we" />
                                                    <label for="corpTime_we">土日祝日対応</label>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--/fm_tbl-->
                                        <!--                                            {{contSel.build_type}} {{newCont.Line}} -->
                                    </div>
                                    <!-- {{newCont.Line_corpTime}} -->
                                </form>
                                <!--                                {{newCont.Line}} -->
                            </div>
                            <div id="newcont_hikaritel">
                                <div class="fm_tbl mb16">
                                    <!-- サービスの選択 -->
                                    <h4 class="mds_replace_underline">ひかり電話</h4>
                                    <!-- NTTで既契約がある場合 -->
                                    <div ng-if="curentCont.Tel.tel_type =='ip'">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">ひかり電話</span></p>
                                            <div class="select-box01">
                                                <p>現在お使いの「{{newCont.tel.svname}}」サービスがそのままお使いいただけます。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="curentCont.Tel.tel_type =='ip'">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">ひかり電話オプション</span></p>
                                            <div class="select-box01">
                                                <p><span ng-show="newCont.tel.options.gd">{{hikari_ops.gd.svname}}</span>
                                                    <span ng-show="newCont.tel.options.nd">{{hikari_ops.nd.svname}}</span>
                                                    <span ng-show="newCont.tel.options.nr">{{hikari_ops.nrw.svname}}</span>
                                                    <span ng-show="newCont.tel.options.vw">{{hikari_ops.vw.svname}}（{{newCont.tel.options.vw_nums}}回線）</span>
                                                    <span ng-show="newCont.tel.options.ro">{{hikari_ops.ro.svname}}</span>
                                                    <span ng-show="newCont.tel.options.rm">{{hikari_ops.rm.svname}}（{{newCont.tel.options.rm_nums}}回線）</span>
                                                    <span ng-show="newCont.tel.options.fm">{{hikari_ops.fm.svname}}（{{newCont.tel.options.fm_nums}}回線）</span>
                                                    <span ng-show="newCont.tel.options.rp">{{hikari_ops.rp.svname}}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- NTTで既契約がない場合 -->
                                    <div ng-if="curentCont.Tel.tel_type !='ip'">
                                        <form name="hikari_chk" ng-submit="">
                                            <div class="fm_tbl mb16 clm tlSame01">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">ひかり電話の有無</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="hikariChkFlg" ng-value="false" name="hikariChk" class="nml" id="hikariChk_0" />
                                                            <label for="hikariChk_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="hikariChkFlg" ng-value="true" ng-init="false" name="hikariChk" class="nml" id="hikariChk_1"
                                                            />
                                                            <label for="hikariChk_1">あり</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                        <form name="select_hikari_new" ng-submit="" ng-show="hikariChkFlg">
                                            <div class="fm_tbl mb16">
                                                <div class="fm_tbl mb16">
                                                    <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">電話回線</span></p>
                                                    <div class="select-box01">
                                                        <select id="newTel" ng-model="contNew.Tel" ng-options="tel.svname for tel in tel_types | filter : {tel_type : 'ip' } : true "
                                                            style="width:200px;">
                                                        <option value="">以下から選択してください</option>
                                                    </select>
                                                    </div>
                                                    <!--/fm_tbl-->
                                                </div>
                                                <!-- ひかり電話回線数／チャネル数（ひかり電話選択時） -->
                                                <div class="fm_tbl mb16" ng-show="contNew.Tel.tel_type =='ip'">
                                                    <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"></p>
                                                    <div class="select-box01">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">番号数</span></p>
                                                        <input id="nums_n" class="text-box01" name="nums_new" type="number" ng-model="contNew.tel_Nums" min="{{contNew.tel.min_nums}}"
                                                            max="{{contNew.tel.max_nums}}" ng-init="contNew.tel_Nums = contNew.tel.min_nums"
                                                            required style="width:100px;" />
                                                        <span>（{{contNew.tel.min_nums}}～{{contNew.tel.max_nums}}）</span>
                                                    </div>
                                                    <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"></p>
                                                    <div class="select-box01">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">チャネル数</span></p>
                                                        <input id="ch_n" class="text-box01" style="width:100px;" name="ch_new" type="number" ng-model="contNew.tel_Chs" min="{{contNew.tel.min_ch}}"
                                                            max="{{contNew.tel.max_ch}}" ng-init="contNew.tel_Chs = contNew.tel.min_ch"
                                                            required />
                                                        <span>（{{contNew.tel.min_ch}}～{{contNew.tel.max_ch}}）</span>
                                                    </div>
                                                    <!--/fm_tbl-->
                                                </div>
                                                <!-- ひかり電話オプション（ひかり電話選択時） -->
                                                <div class="fm_tbl mb16" ng-show="contNew.Tel.tel_type =='ip'">
                                                    <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">ひかり電話のオプション</span></p>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- グループ通話転送(gd:7) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.gd" ng-true-value="true" ng-false-value="false" id="nhop_gd"
                                                                name="nhop_gd" />
                                                            <label for="nhop_gd">{{hikari_ops.gd.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- ナンバー表示（ナンバーディスプレイ） (nd:1) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.nd" ng-true-value="true" ng-false-value="false" id="nhop_nd"
                                                                name="nhop_nd" />
                                                            <label for="nhop_nd">{{hikari_ops.nd.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- ナンバーリクエスト（ナンバーリクエスト） (nr:2) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.nr" ng-true-value="true" ng-false-value="false" id="nhop_nr"
                                                                name="nhop_nr" />
                                                            <label for="nhop_nr">{{hikari_ops.nr.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- 着信転送（ボイスワープ） (vw:0) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.vw" ng-true-value="true" ng-false-value="false" id="nhop_vw"
                                                                name="nhop_vw" />
                                                            <label for="nhop_vw">{{hikari_ops.vw.svname}}</label>
                                                            <span ng-show="contNew.tel.hikari_ops.vw">
                                                                    <label for="nhop_vw_nums"> 番号数：</label>
                                                                    <input class="text-box01" style="width:100px;" type="number"  value="1" min="1" max="{{contNew.tel.hikariNums}}" ng-model="contNew.tel.hikari_ops.vw_nums" ng-init="contNew.tel.hikari_ops.vw_nums ='1'" id="nhop_vw_nums"  name="nhop_vw_nums" />
                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- 着信拒否（迷惑電話お断りサービス） (ro:4) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.ro" ng-true-value="true" ng-false-value="false" id="nhop_ro"
                                                                name="nhop_ro" />
                                                            <label for="nhop_ro">{{hikari_ops.ro.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- 着信お知らせメール (rm:6) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.rm" ng-true-value="true" ng-false-value="false" id="nhop_rm"
                                                                name="nhop_rm" />
                                                            <label for="nhop_rm">{{hikari_ops.rm.svname}}</label>
                                                            <span ng-show="contNew.tel.hikari_ops.rm">
                                                                    <label for="nhop_rm_nums"> 番号数：</label>
                                                                    <input class="text-box01" style="width:100px;" type="number" value="1" min="1" max="{{contNew.tel.hikariNums}}" ng-model="contNew.tel.hikari_ops.rm_nums" ng-init="contNew.tel.hikari_ops.rm_nums ='1'" id="nhop_rm_nums"  name="nhop_rm_nums" /></span>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16" ng-hide="contNew.tel.sv_id=='hikari_oa'">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- FAXメール 5 -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.fm" ng-true-value="true" ng-false-value="false" id="nhop_fm"
                                                                name="nhop_fm" />
                                                            <label for="nhop_fm">{{hikari_ops.fm.svname}}</label>
                                                            <span ng-show="contNew.tel.hikari_ops.fm">
                                                                    <label for="nhop_fm_nums"> 番号数：</label>
                                                                    <input class="text-box01" style="width:100px;" type="number" value="1" min="1" max="{{contNew.tel.hikariNums}}" ng-model="contNew.tel.hikari_ops.fm_nums"  ng-init="contNew.tel.hikari_ops.fm_nums ='1'" id="nhop_{{hikari_ops[5].sv_id}}_nums"  name="nhop_{{hikari_ops[5].sv_id}}_nums" />
                                                        </span>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- フリーアクセス (rp:9) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.rp" ng-true-value="true" ng-false-value="false" id="nhop_rp"
                                                                name="nhop_rp" />
                                                            <label for="nhop_rp">{{hikari_ops.rp.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16" ng-show="(contNew.tel.sv_id=='hikari_o')||(contNew.tel.sv_id=='hikari_oa')">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- ひかり電話オフィスタイプ対応アダプタ（4チャネル） (c4:10) -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.c4" ng-true-value="true" ng-false-value="false" id="nhop_c4"
                                                                name="nhop_c4" />
                                                            <label for="nhop_c4">{{hikari_ops.c4.svname}}</label>
                                                            <span ng-show="contNew.tel.hikari_ops.c4">
                                                                            <label for="nhop_c4_nums"> <br />チャネル数：</label>
                                                                            <input class="text-box01" style="width:100px;" type="number" min="1" max="8" ng-model="contNew.tel.hikari_ops.c4_nums"  ng-init="contNew.tel.hikari_ops.c4_nums ='1'" id="nhop_{{hikari_ops[10].sv_id}}_nums"  name="nhop_{{hikari_ops[10].sv_id}}_nums" />
                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16" ng-show="(contNew.tel.sv_id=='hikari_o')||(contNew.tel.sv_id=='hikari_oa')">
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <!-- ひかり電話オフィスタイプ対応アダプタ（８チャネル） 11 -->
                                                            <input type="checkbox" class="nml" ng-model="contNew.tel.hikari_ops.c8" ng-true-value="true" ng-false-value="false" id="nhop_c8"
                                                                name="nhop_c8" />
                                                            <label for="nhop_c8">{{hikari_ops.c8.svname}}</label>
                                                            <span ng-show="contNew.tel.hikari_ops.c8">
                                                                        <label for="nhop_c8_nums"> <br />チャネル数：</label>
                                                                        <input class="text-box01" style="width:100px;" type="number" min="1" max="8" ng-model="contNew.tel.hikari_ops.c8_nums"  ng-init="contNew.tel.hikari_ops.c8_nums ='1'" id="nhop_{{hikari_ops[11].sv_id}}_nums"  name="nhop_{{hikari_ops[11].sv_id}}_nums" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fm_tbl mb16" ng-show="contNew.Tel.tel_type =='ip'">
                                                    <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">開通工事</span></p>
                                                    <div class="fm_tbl mb16" ng-show="contSel.line.conv_type == 'new' && contSel.tel.tel_type == 'none'">
                                                        <!-- 新規番号（光コラボ新設と同時工事） -->
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <input type="radio" ng-model="newConst.tel.constType" ng-value="hikari_const.newN_newL" name="hi_const" class="nml" id="hi_const_1"
                                                            />
                                                            <label for="hi_const_1">{{hikari_const.newN_newL.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16" ng-show="(contSel.line.conv_type == 'trance' || contSel.line.conv_type == 'type_ch')">
                                                        <!-- 新規番号（光コラボ転用） -->
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <input type="radio" ng-model="newConst.tel.constType" ng-value="hikari_const.newN_tranceL" name="hi_const" class="nml" id="hi_const_2"
                                                            />
                                                            <label for="hi_const_2">{{hikari_const.newN_tranceL.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16" ng-show="contSel.line.conv_type == 'new' && (contSel.tel.tel_type == 'non-ip' || contSel.tel.tel_type == 'none' )">
                                                        <!-- 加入番号からの番号移行（光コラボ新設と同時工事） -->
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <input type="radio" ng-model="newConst.tel.constType" ng-value="hikari_const.traneN_newL" name="hi_const" class="nml" id="hi_const_3"
                                                            />
                                                            <label for="hi_const_3">{{hikari_const.traneN_newL.svname}}</label>
                                                        </div>
                                                    </div>
                                                    <div class="fm_tbl mb16" ng-show="(contSel.line.conv_type == 'trance' || contSel.line.conv_type == 'type_ch') && contSel.tel.tel_type == 'non-ip'">
                                                        <!-- 加入番号からの番号移行（光コラボ転用） -->
                                                        <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16"></span></p>
                                                        <div class="fm_tbl_dtl">
                                                            <input type="radio" ng-model="newConst.tel.constType" ng-value="hikari_const.tranceN_tranceL" name="hi_const" class="nml"
                                                                id="hi_const_4" />
                                                            <label for="hi_const_4">{{hikari_const.tranceN_tranceL.svname}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                <div class="nml " ng-show="(newCont.contractNumber && newCont.oldPv) "> -->
                    <!--                    <div class="reinforcement_nv mb24 pd16">-->
                    <div class="nml ">
                        <h2 class="hd02 " style="text-decoration: underline"> {{contSel.clName}} 御中</h2>
                        <h2 class="hd02 ">光コラボレーションのご提案</h2>
                        <h3 class="mds_replace_bl">現在ご契約のインターネット回線／電話回線</h2>
                            <h3 class="mds_replace_bl">　月額費用　合計：13,030円</h3>
                            <dl class="ex">
                                <dt class="ex">【インターネット接続　合計：9,200円】</dt>
                                <dd class="ex"><span class="ex">接続回線：</span>{{servicers[contSel.lineServicer].name}}　{{curentCont.Line.svname}}　　{{curentCont.Line.monthly_price}}円</dd>
                                <dd class="ex"><span class="ex">プロバイダ：</span>{{curentCont.Isp.svname}}　　{{newCont.isp.monthlyPrice}}円</dd>
                                <dd class="ex" ng-show="contSel.line.repOps"><span class="ex">オプション：</span>{{servicers[contSel.lineServicer].name}}　{{curentCont.Line.repair_ops.repair_extra.svname}}　　{{curentCont.Line.repair_ops.repair_extra.monthly_price}}円</dd>
                            </dl>
                            <dl class="ex">
                                <dt class="ex">【電話基本料金　合計：3,830円】
                                    <dd class="ex"><span class="ex">電話回線：</span>{{curentCont.Tel.svname}}　　{{curentCont.Tel.monthly_price}}円</dd>
                                    <dd class="ex"><span class="ex">オプション：</span>NTT東日本　iナンバー（1番号追加）　　300円</dd>
                            </dl>
                            <br>
                            <h3 class="mds_replace_bl">リコーひかり＆ひかり電話にすれば</h2>
                                <h3 class="mds_replace_bl">　月額費用　合計：7,900円<span style="color:red">＜月額5,130円もお得！＞</span></h3>
                                <dl class="ex">
                                    <dt class="ex">【インターネット接続　合計：7,800円】</dt>
                                    <dd class="ex"><span class="ex">接続回線：</span>リコーひかり　アクセスメニュー　ファミリータイプ　　4,600円</dd>
                                    <dd class="ex"><span class="ex">プロバイダ：</span>Nifty　　1,000円</dd>
                                    <dd class="ex"><span class="ex">オプション：</span>リコージャパン　故障受付時間延長オプション（ファミリータイプ）　　3,000円</dd>
                                </dl>
                                <dl class="ex">
                                    <dt class="ex">【電話基本料金　合計：900円】
                                        <dd class="ex"><span class="ex">電話回線：</span>リコーひかり　ひかり電話サービス　　500円</dd>
                                        <dd class="ex"><span class="ex">オプション：</span>リコーひかり　番号追加（1番号）　　100円</dd>
                                        <dd class="ex"><span class="ex">オプション：</span>リコーひかり　ナンバー表示　　400円</dd>
                                </dl>
                                <dl class="ex">
                                    <dt class="ex">【割引　合計：-800円】
                                        <dd class="ex"><span class="ex">割引：</span>R割　　-800円</dd>
                                </dl>

                    </div>

                    <div class="mb24 pd16">

                        <h3 class="mds_new_underline2 ">＜月額費用＞</h3>
                        <!--                    <h4 class="mds_new_bl ">初期費用　計：{{newNspInitSum| number}}円／月額費用　計：{{newNspMonthlySum| number}}円</h4>-->
                        <table class="nml ">
                            <tr>
                                <th width="400px " valign="middle" class="center" colspan="2">項目</th>
                                <th width="400px " valign="middle" class="center">サービス名称</th>
                                <th class="center " width="200px ">月額費用</th>
                            </tr>
                            <tr>
                                <th nowrap rowspan="4">インターネット</th>
                                <th nowrap>回線</th>
                                <td>{{contNew.Line.svname}}</td>
                                <td class="rights ">
                                    {{newCont.line.monthlyPrice| number}}円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap>オプションサービス</th>
                                <td>故障受付時間延長オプション</td>
                                <td class="rights ">
                                    3,000円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap>プロバイダ</th>
                                <td>{{newCont.isp.svname}}</td>
                                <td class="rights ">
                                    {{newCont.isp.monthlyPrice| number}}円
                                </td>
                            </tr>
                            <tr>
                                <th class="rights " nowrap colspan="2">インターネット接続　小計</th>
                                <td class="rights ">
                                    6,800円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap rowspan="7">電話</th>
                                <th nowrap rowspan="3">ひかり電話</th>
                                <td>{{contNew.Tel.svname}}</td>
                                <td class="rights ">
                                    {{contNew.Tel.monthly_price| number}}円
                                </td>
                            </tr>
                            <tr>
                                <td>追加番号（番号数：1）</td>
                                <td class="rights ">
                                    100円
                                </td>
                            </tr>
                            <tr>
                                <td>複数チャネル（チャネル数：1）</td>
                                <td class="rights ">
                                    1000円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap rowspan="3">ひかり電話<br>付加サービス</th>
                                <td>ナンバー表示</td>
                                <td class="rights ">
                                    400円
                                </td>
                            </tr>
                            <tr>
                                <td>ナンバーリクエスト</td>
                                <td class="rights ">
                                    200円
                                </td>
                            </tr>
                            <tr>
                                <td>FAXお知らせメール（番号数：1）</td>
                                <td class="rights ">
                                    100円
                                </td>
                            </tr>
                            <tr>
                                <th class="rights " nowrap colspan="2">ひかり電話　小計</th>
                                <td class="rights ">
                                    2,300円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap>割引</th>
                                <td nowrap colspan="2">R割</td>
                                <td class="rights ">
                                    -800円
                                </td>
                            </tr>
                            <tr>
                                <th class="rights " nowrap colspan="3">月額費用　合計</th>
                                <td class="rights ">
                                    8,300円
                                </td>
                            </tr>
                        </table>

                        <h3 class="mds_new_underline2 ">＜初期費用＞</h3>
                        <!--                    <h4 class="mds_new_bl ">初期費用　計：{{newNspInitSum| number}}円／月額費用　計：{{newNspMonthlySum| number}}円</h4>-->
                        <table class="nml ">
                            <tr>
                                <th width="400px " valign="middle" class="center" colspan="2">項目</th>
                                <th width="400px " valign="middle" class="center">サービス名称</th>
                                <th class="center " width="200px ">初期費用</th>
                            </tr>
                            <tr>
                                <th nowrap rowspan="3">インターネット</th>
                                <th nowrap>派遣工事</th>
                                <td>派遣あり</td>
                                <td class="rights ">
                                    24,000円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap>法人支援メニュー</th>
                                <td>日中帯・時間指定・土日祝日対応</td>
                                <td class="rights ">
                                    27,000円
                                </td>
                            </tr>
                            <tr>
                                <th class="rights " nowrap colspan="2">インターネット接続工事費　小計</th>
                                <td class="rights ">
                                    51,000円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap rowspan="5">電話</th>
                                <th nowrap rowspan="3">ひかり電話</th>
                                <td>加入電話からの番号移行（光コラボ新設と同時工事）</td>
                                <td class="rights ">
                                    1,000円
                                </td>
                            </tr>
                            <tr>
                                <td>加入電話休止工事費（番号数：2）</td>
                                <td class="rights ">
                                    4000円
                                </td>
                            </tr>
                            <tr>
                                <td>番号ポータビリティー工事費（番号：2）</td>
                                <td class="rights ">
                                    2000円
                                </td>
                            </tr>
                            <tr>
                                <th nowrap rowspan="1">ひかり電話<br>付加サービス</th>
                                <td>番号追加（番号数：1）</td>
                                <td class="rights ">
                                    700円
                                </td>
                            </tr>
                            <tr>
                                <th class="rights " nowrap colspan="2">ひかり電話　小計</th>
                                <td class="rights ">
                                    7,700円
                                </td>
                            </tr>
                            <tr>
                                <th class="rights " nowrap colspan="3">初期費用　合計</th>
                                <td class="rights ">
                                    58,700円
                                </td>
                            </tr>
                        </table>
                        <div class="print_btn"><a href="#" onclick="window.print(); return false;">印刷する</a></div>
                    </div>
                </div>
                <!--/contents-->
                <!--/reinforcement_nv-->
            </div>


            <div class="fs_s"><strong>当ウェブサイトのご利用にあたって</strong><br /> ※当社は、当ウェブサイトに掲載されている情報について細心の注意を払っておりますが、その内容の正確性、細心性を保証するものではございません。
                <br /> ※正式なお見積りをご所望の場合はリコージャパン株式会社の担当営業へお問い合わせください。
                <br /> ※当ウェブサイトに掲載されている価格は全て標準価格となります。
                <br />
            </div>
        </div>
        <!--/clm1-->
        <div id="gl_footer">
            <!-- //////////ssi footer//////////// -->
            <div id="id_FooterUtility" class="ft_ut">
                <div class="ft_ut_inr"> <span class="hide">Utility links</span>
                    <ul class="ft_ut_lst fl_n">
                        <li><a href="http://jp.ricoh.com/terms_of_use/">ご利用条件</a></li>
                        <li><a href="http://www.ricoh.co.jp/itkeeper/otoiawase.html">お問い合わせ</a></li>
                    </ul>
                    <p class="ft_pg_top smoothScroll dsp_n rsp_dsp_b"><a href="#wrapper">ページトップへ</a></p>
                    <!--/ft_ut_inr-->
                </div>
                <!--/ft_ut-->
            </div>
            <p class="ft_copy">(C) Ricoh Co., Ltd. / RICOH JAPAN Corp.</p>
            <!-- ///////// /ssi footer//////////// -->
            <!--/gl_footer-->
        </div>
        <!--/wrapper-->
    </div>
</body>

</html>