<!DOCTYPE html>
<html ng-app="myApp" lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8" />
    <title>ITKeeper カンタン見積もりツール　新規導入 | リコー</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="copyright" content="Copyright Ricoh Company, Ltd. / RICOH JAPAN Corporation" />

    <!-- //////////ssi css_js//////////// -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="https://www.ricoh.co.jp/cmn_v1/img/favicon.ico" />
    <link rel="apple-touch-icon" href="https://www.ricoh.co.jp/cmn_v1/img/apple_icon.png" />
    <link rel="stylesheet" type="text/css" media="all" href="https://www.ricoh.co.jp/cmn_v1/css/import.css" />

    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
    <link rel="stylesheet" type="text/css" media="print" href="css/print.css" />

    <!-- CDNインストール　デバッグ用 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.js"></script>
    <!-- CDNインストール　本番用
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-resource.min.js"></script>
 -->

    <script src="js/service.js"></script>

</head>

<body ng-controller="MyController" ng-cloak>
    <div id="wrapper">
        <!-- //////////ssi noscript//////////// -->
        <noscript>
            <div class="noscript">このウェブサイトのレイアウトやリンクの一部は、Javascriptを無効にすると正常に機能しない場合があります。 正しくこのウェブサイトを表示するには
                <span>JavaScript</span>を有効にしてください。
            </div>
        </noscript>
        <a href="#contents" class="hide">このページの本文へ</a>
        <a href="#gl_nv" class="hide">このサイトのメインメニューへ</a>
        <!-- ///////// /ssi noscript//////////// -->
        <div id="gl_header" class="act_solution">
            <!-- //////////ssi header//////////// -->
            <div class="gl_hd">
                <div class="inner">
                    <p class="hd_lg"><a href=".">RICOH imagine. change.</a></p>
                    <div class="hd_ut">
                        <span class="hd_ut_country"></span>
                        <!--/hd_ut-->
                    </div>
                    <!--/inner-->
                </div>
                <!--/gl_hd-->
            </div>
            <a href="#contents" class="hide">このページの本文へ</a>
            <span class="hide">ここからこのサイトのメインメニュー</span>

            <a href="#" class="gl_nv_btn">Menu</a>
            <div class="gl_nv_s">
                <div class="hd_ut_s">
                    <a href="http://www.ricoh.com/gateway/" target="_blank" class="hd_ut_change">Change Country</a>
                    <!--/hd_ut_s-->
                </div>

                <div id="gl_nv">
                    <!--/gl_nv-->
                </div>
                <!--/gl_nv_s-->
            </div>
            <!--/gl_header-->
        </div>
        <div id="contents">
            <span class="hide">ここから本文です </span>
            <div class="sct_bg01 pt0">
                <div class="cnt_max">
                    <h1 class="hd01">ITKeeper カンタン見積もりツール</h1>
                    <p class="mds_new">新規導入</p>
                    <div style="display: none;"><input type="radio" ng-model="cont_stat" ng-init="cont_stat = cont_new"></div>
                    <div class="intro"><strong>対象商品：</strong>ネットワークセキュリティパック、NETBegin BBパック Next、NETBegin BBパック select（一部モデル）</div>
                    <div class="linkbtn_toreplace"><a href="replace.html">NETBegin BBパック Select ベーシックモデルからのお乗換プランはこちら</a></div>

                    <div class="clm1">
                        <div class="clm">
                            <div class="reinforcement_nv mb24 pd16">
                                <h2 class="hd02">契約条件の入力</h2>
                                <span class="fm_tbl mb16 clm tlSame01">
                                    <input id="cpshow" type="checkbox" ng-model="precont_show" class="nml" />
                                    <label for="cpshow">詳細を表示する</label>
                                </span>
                                <br clear="all" ; />
                                <div id="precont" ng-if="precont_show">
                                    <h4 class="mds_new_underline">基本サービス</h4>
                                    <form name="precontract" ng-submit="">
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">契約PC台数</span></p>
                                            <div class="select-box01">
                                                <select id="oldSvId" ng-model="contSel.contractNumber" ng-options="bas.pcnums as bas.pcnums for bas in nsp" style="width:80px;">
                                                <option value="" selected="selected">0</option>
                                                </select>　台
                                            </div>
                                            <!--/fm_tbl-->
                                        </div>
                                        <div class="fm_tbl mb16">
                                            <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">インターネット<br />接続</span></p>
                                            <div class="select-box01">
                                                <select id="oldPvId" ng-model="contSel.oldPv" ng-options="pv.svname as pv.svname for pv in provider_new">
                                                <option value="" selected="selected">以下から選択してください</option>
                                            </select>
                                            </div>
                                            <p class="coution_cmt" ng-hide="(contSel.contractNumber && contSel.oldPv)">（PC台数とインターネット接続を必ず選択してください。選択するとオプション類が選べます）</p>
                                            <!--/fm_tbl-->
                                        </div>
                                    </form>
                                    <div id="option_panel" ng-show="(contSel.contractNumber && contSel.oldPv)">
                                        <form name="precontract_ops" ng-submit="">
                                            <h3 class="mds_new_underline">新規契約オプション</h3>
                                            <h4 class="mds_new_bl">【付帯サービス】</h4>
                                            <!-- PCセキュリティ(ウィルス対策) -->
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{pcantivirus[1].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpcsec" ng-value="pcantivirus[0].svname" name="pcsec" class="nml" id="pav0" />
                                                            <label for="pav0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpcsec" ng-value="pcantivirus[1].svname" name="pcsec" class="nml" id="pav1" />
                                                            <label for="pav1">あり</label>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- 有害サイトブロック -->
                                            <form name="newOpsSec" ng-submit="">
                                                <div class="fm_tbl mb16">
                                                    <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">有害サイトブロック</span></p>
                                                    <div class="fm_tbl_dtl">
                                                        <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                            <li class="selctbtn" style="height: 31px;">
                                                                <input type="radio" ng-model="contSel.sbl" ng-value="siteblock[0].svname" name="sbl" class="nml" id="sbl0" />
                                                                <label for="sbl0">なし</label>
                                                            </li>
                                                            <li class="selctbtn" style="height: 31px;">
                                                                <input type="radio" ng-model="contSel.sbl" ng-value="siteblock[1].svname" name="sbl" class="nml" id="sbl1" />
                                                                <label for="sbl1">あり</label>
                                                            </li>
                                                        </ul>
                                                        <p class="fs_s">※NETBegin BBパック Select スタンダードモデル2のみのオプションとなります</p>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- ISPメールアドレス -->
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{mail[1].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.ispmail" ng-value="mail[0].svname" name="ispmail" class="nml" id="ma0" />
                                                            <label for="ma0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.ispmail" ng-value="mail[1].svname" name="ispmail" class="nml" id="ma1" />
                                                            <label for="ma1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.ispmail=='なし')" class="select-box01">メールアドレス数：<select id="oldispmn" ng-model="contSel.ispmail_nums" ng-options="ismn as ismn for ismn in ispMailNums"
                                                                style="width:80px;"></select>アカウント</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- 保守時間延長 -->
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">保守時間延長</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;" ng-repeat="mt in maintainance_std" ng-init="mt[0]">
                                                            <input type="radio" ng-model="contSel.maintain_std" ng-value="mt.svname" name="maintain" class="nml" id="mt{{$index}}" />
                                                            <label for="mt{{$index}}">{{mt.svname}}</label>
                                                        </li>
                                                    </ul>
                                                    <p class="fs_s">※NETBegin BBパック Select スタンダードモデル2のみのオプションとなります</p>
                                                </div>
                                            </div>
                                        </form>
                                        <h4 class="mds_new_bl">【VPNオプション】</h4>
                                        <form name="newOps" ng-submit="">
                                            <!-- VPNハブ・スポーク -->
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">VPN 基本サービス</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li ng-repeat="vpnsv in vpn" class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpnsv" ng-value="vpnsv.svname" name="vpn" class="nml" id="vpnsv{{$index}}" />
                                                            <label for="vpnsv{{$index}}">{{vpnsv.svname}}</label>
                                                        </li>
                                                    </ul>
                                                    <p class="fs_s">※NETBegin BBパック Next／NETBegin BBパック Select スタンダードモデル2のみのオプションとなります</p>
                                                    <p class="coution_cmt" ng-show="!(fixedip) && (contSel.vpnsv=='VPNハブ') ">※本サービスをNETBegin BBパック Select スタンダードモデル2でご利用いただくには、インターネット接続で固定IPの選択が必須です</p>
                                                </div>
                                            </div>
                                            <!-- VPN設計費用 -->
                                            <div class="fm_tbl mb16" ng-if="(contSel.vpnsv=='VPNハブ')">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{vpn_option1[1].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpnop1" ng-value="vpn_option1[0].svname" name="vpnop1" class="nml" id="vpnop1_0" />
                                                            <label for="vpnop1_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpnop1" ng-value="vpn_option1[1].svname" name="vpnop1" class="nml" id="vpnop1_1" />
                                                            <label for="vpnop1_1">あり</label>
                                                        </li>
                                                    </ul>
                                                    <p class="fs_s">VPNハブ選択時のみ選択できます</p>
                                                </div>
                                            </div>
                                            <!-- VPNリモートアクセス -->
                                            <div class="fm_tbl mb16" ng-if="(contSel.vpnsv=='VPNハブ')">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">VPN<br />リモートアクセス</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpnop2" ng-value="vpn_option2[0].svname" name="vpnop2" class="nml" id="vpnop2_0" />
                                                            <label for="vpnop2_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.vpnop2" ng-value="vpn_option2[1].svname" name="vpnop2" class="nml" id="vpnop2_1" />
                                                            <label for="vpnop2_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.vpnop2=='なし')" class="select-box01">
                                                            設定台数：<select id="vpnop2num" ng-model="contSel.vpnop2_nums" ng-options="vpop2 as vpop2 for vpop2 in vpnOp2Nums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                    <p class="fs_s">※VPNハブ選択時のみ選択できます</p>
                                                    <p class="coution_cmt">※NETBegin BBパック Select スタンダードモデル2のみのオプションとなります</p>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- LAN構築 -->
                                        <h4 class="mds_replace_underline">新規契約オプション（LAN構築）</h4>
                                        <form name="landevice" ng-submit="">
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[1].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev1" ng-value="lan[0].svname" name="landev1" class="nml" id="landev1_0" />
                                                            <label for="landev1_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev1" ng-value="lan[1].svname" name="landev1" class="nml" id="landev1_1" />
                                                            <label for="landev1_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.landev1=='なし')" class="select-box01">
                                                            台数：<select id="landev1num" ng-model="contSel.landev1Nums" ng-options="lan1 as lan1 for lan1 in landevNums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[2].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev2" ng-value="lan[0].svname" name="landev2" class="nml" id="landev2_0" />
                                                            <label for="landev2_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev2" ng-value="lan[2].svname" name="landev2" class="nml" id="landev2_1" />
                                                            <label for="landev2_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.landev2=='なし')" class="select-box01">
                                                            台数：<select id="landev2num" ng-model="contSel.landev2Nums" ng-options="lan2 as lan2 for lan2 in landevNums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[3].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev3" ng-value="lan[0].svname" name="landev3" class="nml" id="landev3_0" />
                                                            <label for="landev3_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev3" ng-value="lan[3].svname" name="landev3" class="nml" id="landev3_1" />
                                                            <label for="landev3_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.landev3=='なし')" class="select-box01">
                                                            台数：<select id="landev3num" ng-model="contSel.landev3Nums" ng-options="lan3 as lan3 for lan3 in landevNums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[4].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev4" ng-value="lan[0].svname" name="landev4" class="nml" id="landev4_0" />
                                                            <label for="landev4_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev4" ng-value="lan[4].svname" name="landev4" class="nml" id="landev4_1" />
                                                            <label for="landev4_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.landev4=='なし')" class="select-box01">
                                                            台数：<select id="landev4num" ng-model="contSel.landev4Nums" ng-options="lan4 as lan4 for lan4 in landevNums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[5].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev5" ng-value="lan[0].svname" name="landev5" class="nml" id="landev5_0" />
                                                            <label for="landev5_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev5" ng-value="lan[5].svname" name="landev5" class="nml" id="landev5_1" />
                                                            <label for="landev5_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.landev5=='なし')" class="select-box01">
                                                            台数：<select id="landev5num" ng-model="contSel.landev5Nums" ng-options="lan5 as lan5 for lan5 in landevNums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[6].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev6" ng-value="lan[0].svname" name="landev6" class="nml" id="landev6_0" />
                                                            <label for="landev6_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev6" ng-value="lan[6].svname" name="landev6" class="nml" id="landev6_1" />
                                                            <label for="landev6_1">あり</label>
                                                        </li>
                                                        <li ng-show="!(contSel.landev6=='なし')" class="select-box01">
                                                            台数：<select id="landev6num" ng-model="contSel.landev6Nums" ng-options="lan6 as lan6 for lan6 in landevNums"
                                                                style="width:80px;"></select>台
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fm_tbl mb16">
                                                <p class="fm_tbl_ttl w15p rsp_w100p rsp_mb8"><span class="fm_ttl fs16">{{lan[7].svname}}</span></p>
                                                <div class="fm_tbl_dtl">
                                                    <ul class="clm1 clm4 rsp_break_clm2 tileSame fm_tbl_dtl_gray fs14">
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev7" ng-value="lan[0].svname" name="landev7" class="nml" id="landev7_0" />
                                                            <label for="landev7_0">なし</label>
                                                        </li>
                                                        <li class="selctbtn" style="height: 31px;">
                                                            <input type="radio" ng-model="contSel.landev7" ng-value="lan[7].svname" name="landev7" class="nml" id="landev7_1" />
                                                            <label for="landev7_1">あり</label>
                                                        </li>
                                                    </ul>
                                                    <p class="fs_s">※NETBegin BBパック Nextのみのオプションとなります</p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="nml" ng-show="(contSel.contractNumber && contSel.oldPv)">
                                <h2 class="hd02">契約見積</h2>
                                <h3 class="mds_new_underline2">＜ネットワークセキュリティパック＞</h3>
                                <p class="pot">　ポイント：ネットワークを丸ごとお任せ＆セキュリティを強化いただけます</p>
                                <h4 class="mds_new_bl">初期費用　計：{{newNspInitSum| number}}円／月額費用　計：{{newNspMonthlySum| number}}円</h4>
                                <table class="nml">
                                    <tr>
                                        <th rowspan="2" width="200px"></th>
                                        <th width="400px" rowspan="2" valign="middle" class="center">項目</th>
                                        <th colspan="2" class="center" width="200px">初期費用</th>
                                        <th colspan="2" class="center" width="200px">月額費用</th>
                                    </tr>
                                    <tr>
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                    </tr>
                                    <tr>
                                        <th nowrap rowspan="2">基本メニュー</th>
                                        <td>{{newCont.nspRep.svname}}</td>
                                        <td align="center">
                                            {{newCont.nspRep.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.nspRep.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.nspRep.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.nspRep.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{nsp_hw.svname}}</td>
                                        <td align="center">
                                            {{nsp_hw.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{nsp_hw.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr>
                                        <th nowrap>インターネット接続</th>
                                        <td>{{newCont.newPv.svname}}</td>
                                        <td align="center">
                                            {{newCont.newPv.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.newPv.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.newPv.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.newPv.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr>
                                        <th nowrap colspan="2" class="rights">基本サービス　小計</th>
                                        <td colspan="2" class="rights">
                                            {{newNspBasInitSum| number}}円
                                        </td>
                                        <td colspan="2" class="rights">
                                            {{newNspBasMonthlySum| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-show="(newNspOptInitSum || newNspOptMonthlySum)">
                                        <th colspan="6" class="center">オプション　<span><input id="nspopshow" type="checkbox" ng-model="nspop_show" class="nml" />
                                    <label for="nspopshow">詳細を表示する</label></span></th>
                                    </tr>
                                    <tr ng-hide="!nspop_show || !(newNspOptInitSum || newNspOptMonthlySum)">
                                        <th rowspan="2" width="200px"></th>
                                        <th width="400px" rowspan="2" valign="middle" class="center">項目</th>
                                        <th colspan="2" class="center" width="200px">初期費用</th>
                                        <th colspan="2" class="center" width="200px">月額費用</th>
                                    </tr>
                                    <tr ng-hide="!nspop_show || !(newNspOptInitSum || newNspOptMonthlySum)">
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.nspvpcsec.svname || newCont.nspvpcsec.svname=='なし')">
                                        <th nowrap>PCセキュリティ</th>
                                        <td>
                                            {{newCont.nspvpcsec.svname}}（{{newCont.contractNumber}}台）
                                        </td>
                                        <td align="center">
                                            {{newCont.nspvpcsec.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.nspvpcsec.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.nspvpcsec.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.nspvpcsec.monthly.sumprice| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.host.svname || newCont.host.svname=='なし')">
                                        <th nowrap>ホスティングサービス</th>
                                        <td>{{newCont.host.svname}}</td>
                                        <td align="center">
                                            {{newCont.host.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.host.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.host.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.host.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.ssla.svname || newCont.ssla.svname=='なし')">
                                        <th nowrap>SSL用IPアドレス</th>
                                        <td>{{newCont.ssla.svname}}</td>
                                        <td align="center">
                                            {{newCont.ssla.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ssla.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.ssla.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ssla.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.doma.svname || newCont.doma.svname=='なし')">
                                        <th nowrap>ドメイン</th>
                                        <td>{{newCont.doma.svname}}</td>
                                        <td align="center">
                                            {{newCont.doma.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.doma.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.doma.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.doma.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.ispmail.svname || newCont.ispmail.svname=='なし')">
                                        <th nowrap>ISPメールアドレス</th>
                                        <td>{{newCont.ispmail.svname}}（{{newCont.ispmail.nums}}{{newCont.ispmail.monthly.unit}}）</td>
                                        <td align="center">
                                            {{newCont.ispmail.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ispmail.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.ispmail.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ispmail.monthly.sumprice| number}}円
                                        </td>
                                    </tr>
                                    <!-- LAN構築 -->
                                    <tr ng-hide="(!nspop_show || !newCont.landev1.svname || newCont.landev1.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev1.svname}}（{{newCont.landev1.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev1.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev1.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.landev2.svname || newCont.landev2.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev2.svname}}（{{newCont.landev2.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev2.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev2.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.landev3.svname || newCont.landev3.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev3.svname}}（{{newCont.landev3.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev3.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev3.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.landev4.svname || newCont.landev4.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev4.svname}}（{{newCont.landev4.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev4.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev4.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.landev5.svname || newCont.landev5.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev5.svname}}（{{newCont.landev5.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev5.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev5.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!nspop_show || !newCont.landev6.svname || newCont.landev6.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev6.svname}}（{{newCont.landev6.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev6.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev6.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr>
                                        <th nowrap colspan="2" class="rights">オプション　小計</th>
                                        <td colspan="2" class="rights">
                                            {{newNspOptInitSum| number}}円
                                        </td>
                                        <td colspan="2" class="rights">
                                            {{newNspOptMonthlySum| number}}円
                                        </td>
                                    </tr>
                                </table>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.sbl.svname=='なし')">※{{newCont.sbl.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.vpn.svname=='なし')">※{{newCont.vpn.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.maintain_std.svname=='なし')">※{{newCont.maintain_std.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.vpn_option1.svname=='なし')">※{{newCont.vpn_option1.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.vpn_option2.svname=='なし')">※{{newCont.vpn_option2.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.landev7.svname=='なし')">※{{newCont.landev7.svname}}は本商品の対象外となります。</p>
                                <br />

                                <h3 class="mds_new_underline2 pbr">＜NETBegin BBパック Next＞</h3>
                                <p class="pot">　ポイント：ネットワークを丸ごとお任せ＆無線LANにより利便性を向上いただけます</p>
                                <h4 class="mds_new_bl">初期費用　計：{{newBBNextInitSum| number}}円／月額費用　計：{{newBBNextMonthlySum| number}}円</h4>

                                <table class="nml">
                                    <tr>
                                        <th rowspan="2" width="200px"></th>
                                        <th width="400px" rowspan="2" valign="middle" class="center">項目</th>
                                        <th colspan="2" class="center" width="200px">初期費用</th>
                                        <th colspan="2" class="center" width="200px">月額費用</th>
                                    </tr>
                                    <tr>
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                    </tr>
                                    <tr>
                                        <th nowrap>基本メニュー</th>
                                        <td align="left">{{newCont.bbnextRep.svname}}</td>
                                        <td align="center">
                                            {{newCont.bbnextNew.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.bbnextNew.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.bbnextNew.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.bbnextNew.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr>
                                        <th nowrap>インターネット接続</th>
                                        <td align="left">{{newCont.newPv.svname}}</td>
                                        <td align="center">
                                            {{newCont.newPv.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.newPv.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.newPv.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.newPv.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="rights">基本サービス　小計</th>
                                        <td colspan="2" class="rights">
                                            {{newBBNextBasInitSum| number}}円
                                        </td>
                                        <td colspan="2" class="rights">
                                            {{newBBNextBasMonthlySum| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-show="(newBBNextOptInitSum || newBBNextOptMonthlySum)">
                                        <th colspan="6" class="center">オプション　<span><input id="bbnopshow" type="checkbox" ng-model="bbnop_show" class="nml" />
                                    <label for="bbnopshow">詳細を表示する</label></span></th>
                                    </tr>
                                    <tr ng-hide="!bbnop_show || !(newBBNextOptInitSum || newBBNextOptMonthlySum)">
                                        <th rowspan="2" width="200px"></th>
                                        <th width="400px" rowspan="2" valign="middle" class="center">項目</th>
                                        <th colspan="2" class="center" width="200px">初期費用</th>
                                        <th colspan="2" class="center" width="200px">月額費用</th>
                                    </tr>
                                    <tr ng-hide="!bbnop_show || !(newBBNextOptInitSum || newBBNextOptMonthlySum)">
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                        <th class="center" width="100px">コード</th>
                                        <th class="center" width="100px">金額</th>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.vpcsec.svname || newCont.vpcsec.svname=='なし')">
                                        <th nowrap>PCセキュリティ</th>
                                        <td>{{newCont.vpcsec.svname}}（{{newCont.contractNumber}}台）</td>
                                        <td align="center">
                                            {{newCont.vpcsec.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.vpcsec.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.vpcsec.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.vpcsec.monthly.sumprice| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.ssla.svname || newCont.ssla.svname=='なし')">
                                        <th nowrap>SSL用IPアドレス</th>
                                        <td>{{newCont.ssla.svname}}</td>
                                        <td align="center">
                                            {{newCont.ssla.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ssla.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.ssla.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ssla.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.doma.svname || newCont.doma.svname=='なし')">
                                        <th nowrap>ドメイン</th>
                                        <td>{{newCont.doma.svname}}</td>
                                        <td align="center">
                                            {{newCont.doma.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.doma.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.doma.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.doma.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.ispmail.svname || newCont.ispmail.svname=='なし')">
                                        <th nowrap>ISPメールアドレス</th>
                                        <td>{{newCont.ispmail.svname}}（{{newCont.ispmail.nums}}{{newCont.ispmail.monthly.unit}}）</td>
                                        <td align="center">
                                            {{newCont.ispmail.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ispmail.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.ispmail.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.ispmail.monthly.sumprice| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.vpn.svname || newCont.vpn.svname=='なし')">
                                        <th>VPNオプション</th>
                                        <td>{{newCont.vpn.svname}}</td>
                                        <td align="center">
                                            {{newCont.vpn.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.vpn.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.vpn.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.vpn.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.vpn_option1.svname || newCont.vpn_option1.svname=='なし')">
                                        <th>VPNオプション</th>
                                        <td>{{newCont.vpn_option1.svname}}</td>
                                        <td align="center">
                                            {{newCont.vpn_option1.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.vpn_option1.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <!-- LAN構築 -->
                                    <tr ng-hide="(!bbnop_show || !newCont.landev1.svname || newCont.landev1.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev1.svname}}（{{newCont.landev1.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev1.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev1.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.landev2.svname || newCont.landev2.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev2.svname}}（{{newCont.landev2.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev2.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev2.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.landev3.svname || newCont.landev3.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev3.svname}}（{{newCont.landev3.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev3.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev3.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.landev4.svname || newCont.landev4.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev4.svname}}（{{newCont.landev4.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev4.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev4.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.landev5.svname || newCont.landev5.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev5.svname}}（{{newCont.landev5.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev5.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev5.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.landev6.svname || newCont.landev6.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev6.svname}}（{{newCont.landev6.nums}}台）</td>
                                        <td align="center">
                                            {{newCont.landev6.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev6.initial.sumprice| number}}円
                                        </td>
                                        <td align="center">
                                            ー
                                        </td>
                                        <td class="rights">
                                            ー
                                        </td>
                                    </tr>
                                    <tr ng-hide="(!bbnop_show || !newCont.landev7.svname || newCont.landev7.svname=='なし')">
                                        <th nowrap>LAN構築</th>
                                        <td>{{newCont.landev7.svname}}</td>
                                        <td align="center">
                                            {{newCont.landev7.initial.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev7.initial.price| number}}円
                                        </td>
                                        <td align="center">
                                            {{newCont.landev7.monthly.code}}
                                        </td>
                                        <td class="rights">
                                            {{newCont.landev7.monthly.price| number}}円
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="2" class="rights">オプション　小計</th>
                                        <td colspan="2" class="rights">
                                            {{newBBNextOptInitSum| number}}円
                                        </td>
                                        <td colspan="2" class="rights">
                                            {{newBBNextOptMonthlySum| number}}円
                                        </td>
                                    </tr>
                                </table>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.sbl.svname=='なし')">※{{newCont.sbl.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.maintain_std.svname=='なし')">※{{newCont.maintain_std.svname}}は本商品の対象外となります。</p>
                                <p class="coution_cmt err_cmt" ng-hide="(newCont.vpn_option2.svname=='なし')">※{{newCont.vpn_option2.svname}}は本商品の対象外となります。</p>
                                <br>
                                <h3 class="mds_new_underline2 pbr">＜NETBegin BBパック Select スタンダードモデル2＞</h3>
                                <p class="mds_replace_bl" ng-show="contSel.contractNumber > 20" style="color:red;">本サービスは、選択した契約PC台数には対応出来ません</p>
                                <div ng-hide="contSel.contractNumber > 20">
                                    <p class="pot">　ポイント：ネットワークを丸ごとお任せいただけます</p>
                                    <h4 class="mds_replace_bl">初期費用　計：{{newBBStdInitSum| number}}円／月額費用　計：{{newBBstdMonthlySum| number}}円</h4>
                                    <table class="nml">
                                        <tr>
                                            <th rowspan="2" width="200px"></th>
                                            <th width="400px" rowspan="2" valign="middle" class="center">項目</th>
                                            <th colspan="2" class="center" width="200px">初期費用</th>
                                            <th colspan="2" class="center" width="200px">月額費用</th>
                                        </tr>
                                        <tr>
                                            <th class="center" width="100px">コード</th>
                                            <th class="center" width="100px">金額</th>
                                            <th class="center" width="100px">コード</th>
                                            <th class="center" width="100px">金額</th>
                                        </tr>
                                        <tr>
                                            <th nowrap>基本メニュー</th>
                                            <td>{{newCont.bbstdNew.svname}}</td>
                                            <td align="center">
                                                {{newCont.bbstdNew.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.bbstdNew.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.bbstdNew.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.bbstdNew.monthly.price| number}}円
                                            </td>
                                        </tr>
                                        <tr>
                                            <th nowrap>インターネット接続</th>
                                            <td>{{newCont.newPv.svname}}</td>
                                            <td align="center">
                                                {{newCont.newPv.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.newPv.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.newPv.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.newPv.monthly.price| number}}円
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="rights">基本サービス　小計</th>
                                            <td colspan="2" class="rights">
                                                {{newBBStdBasInitSum| number}}円
                                            </td>
                                            <td colspan="2" class="rights">
                                                {{newBBstdBasMonthlySum| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-show="(newBBStdOptInitSum || newBBstdOptMonthlySum)">
                                            <th colspan="6" class="center">オプション　<span><input id="bbsopshow" type="checkbox" ng-model="bbsop_show" class="nml" />
                                    <label for="bbsopshow">詳細を表示する</label></span></th>
                                        </tr>
                                        <tr ng-hide="!bbsop_show || !(newBBStdOptInitSum || newBBstdOptMonthlySum)">
                                            <th rowspan="2" width="200px"></th>
                                            <th width="400px" rowspan="2" valign="middle" class="center">項目</th>
                                            <th colspan="2" class="center" width="200px">初期費用</th>
                                            <th colspan="2" class="center" width="200px">月額費用</th>
                                        </tr>
                                        <tr ng-hide="!bbsop_show || !(newBBStdOptInitSum || newBBstdOptMonthlySum)">
                                            <th class="center" width="100px">コード</th>
                                            <th class="center" width="100px">金額</th>
                                            <th class="center" width="100px">コード</th>
                                            <th class="center" width="100px">金額</th>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.vpcsec.svname || newCont.vpcsec.svname=='なし')">
                                            <th nowrap>PCセキュリティ</th>
                                            <td>{{newCont.vpcsec.svname}}（{{newCont.contractNumber}}台）</td>
                                            <td align="center">
                                                {{newCont.vpcsec.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.vpcsec.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.vpcsec.monthly.code}}
                                            </td>

                                            <td class="rights">
                                                {{newCont.vpcsec.monthly.sumprice| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.sbl.svname || newCont.sbl.svname=='なし')">
                                            <th nowrap>PCセキュリティ</th>
                                            <td>
                                                {{newCont.sbl.svname}}（{{newCont.contractNumber}}台）
                                            </td>
                                            <td align="center">
                                                {{newCont.sbl.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.sbl.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.sbl.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.sbl.monthly.sumprice| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.ssla.svname || newCont.ssla.svname=='なし')">
                                            <th nowrap>SSL用IPアドレス</th>
                                            <td>{{newCont.ssla.svname}}</td>
                                            <td align="center">
                                                {{newCont.ssla.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.ssla.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.ssla.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.ssla.monthly.price| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.doma.svname || newCont.doma.svname=='なし')">
                                            <th nowrap>ドメイン</th>
                                            <td>{{newCont.doma.svname}}</td>
                                            <td align="center">
                                                {{newCont.doma.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.doma.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.doma.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.doma.monthly.price| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.ispmail.svname || newCont.ispmail.svname=='なし')">
                                            <th nowrap>ISPメールアドレス</th>
                                            <td>{{newCont.ispmail.svname}}（{{newCont.ispmail.nums}}{{newCont.ispmail.monthly.unit}}）</td>
                                            <td align="center">
                                                {{newCont.ispmail.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.ispmail.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.ispmail.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.ispmail.monthly.sumprice| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.maintain_std.svname || newCont.maintain_std.svname=='なし')">
                                            <th nowrap>保守時間延長</th>
                                            <td>{{newCont.maintain_std.svname}}</td>
                                            <td align="center">
                                                {{newCont.maintain_std.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.maintain_std.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.maintain_std.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.maintain_std.monthly.price| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.vpn.svname || newCont.vpn.svname=='なし')">
                                            <th>VPNオプション</th>
                                            <td>{{newCont.vpn.svname}}</td>
                                            <td align="center">
                                                {{newCont.vpn.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.vpn.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.vpn.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.vpn.monthly.price| number}}円
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.vpn_option1.svname || newCont.vpn_option1.svname=='なし')">
                                            <th>VPNオプション</th>
                                            <td>{{newCont.vpn_option1.svname}}</td>
                                            <td align="center">
                                                {{newCont.vpn_option1.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.vpn_option1.initial.price| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.vpn_option2.svname || newCont.vpn_option2.svname=='なし')">
                                            <th>VPNオプション</th>
                                            <td>{{newCont.vpn_option2.svname}}</td>
                                            <td align="center">
                                                {{newCont.vpn_option2.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.vpn_option2.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                {{newCont.vpn_option2.monthly.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.vpn_option2.monthly.sumprice| number}}円
                                            </td>
                                        </tr>
                                        <!-- LAN構築 -->
                                        <tr ng-hide="(!bbsop_show || !newCont.landev1.svname || newCont.landev1.svname=='なし')">
                                            <th nowrap>LAN構築</th>
                                            <td>{{newCont.landev1.svname}}（{{newCont.landev1.nums}}台）</td>
                                            <td align="center">
                                                {{newCont.landev1.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.landev1.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.landev2.svname || newCont.landev2.svname=='なし')">
                                            <th nowrap>LAN構築</th>
                                            <td>{{newCont.landev2.svname}}（{{newCont.landev2.nums}}台）</td>
                                            <td align="center">
                                                {{newCont.landev2.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.landev2.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.landev3.svname || newCont.landev3.svname=='なし')">
                                            <th nowrap>LAN構築</th>
                                            <td>{{newCont.landev3.svname}}（{{newCont.landev3.nums}}台）</td>
                                            <td align="center">
                                                {{newCont.landev3.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.landev3.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.landev4.svname || newCont.landev4.svname=='なし')">
                                            <th nowrap>LAN構築</th>
                                            <td>{{newCont.landev4.svname}}（{{newCont.landev4.nums}}台）</td>
                                            <td align="center">
                                                {{newCont.landev4.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.landev4.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.landev5.svname || newCont.landev5.svname=='なし')">
                                            <th nowrap>LAN構築</th>
                                            <td>{{newCont.landev5.svname}}（{{newCont.landev5.nums}}台）</td>
                                            <td align="center">
                                                {{newCont.landev5.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.landev5.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr ng-hide="(!bbsop_show || !newCont.landev6.svname || newCont.landev6.svname=='なし')">
                                            <th nowrap>LAN構築</th>
                                            <td>{{newCont.landev6.svname}}（{{newCont.landev6.nums}}台）</td>
                                            <td align="center">
                                                {{newCont.landev6.initial.code}}
                                            </td>
                                            <td class="rights">
                                                {{newCont.landev6.initial.sumprice| number}}円
                                            </td>
                                            <td align="center">
                                                ー
                                            </td>
                                            <td class="rights">
                                                ー
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="rights">オプション　小計</th>
                                            <td colspan="2" class="rights">
                                                {{newBBStdOptInitSum| number}}円
                                            </td>
                                            <td colspan="2" class="rights">
                                                {{newBBstdOptMonthlySum| number}}円
                                            </td>
                                        </tr>
                                    </table>
                                    <p class="coution_cmt err_cmt" ng-show="!(fixedip) && (contSel.vpnsv=='VPNハブ') ">※本サービスでVPNハブをご利用いただくにはインターネット接続で固定IPの選択が必須です</p>
                                    <p class="coution_cmt err_cmt" ng-hide="(newCont.landev7.svname=='なし')">※{{newCont.landev7.svname}}は本商品の対象外となります。</p>
                                    <div class="print_btn"><a href="#" onclick="window.print(); return false;">印刷する</a></div>
                                </div>
                            </div>
                            <!--/contents-->
                            <!--/reinforcement_nv-->
                        </div>
                    </div>

                    <div class="fs_s"><strong>当ウェブサイトのご利用にあたって</strong><br /> ※当社は、当ウェブサイトに掲載されている情報について細心の注意を払っておりますが、その内容の正確性、細心性を保証するものではございません。
                        <br /> ※正式なお見積りをご所望の場合はリコージャパン株式会社の担当営業へお問い合わせください。
                        <br /> ※当ウェブサイトに掲載されている価格は全て標準価格となります。
                        <br />
                    </div>
                </div>
                <!--/clm1-->
                <div id="gl_footer">
                    <!-- //////////ssi footer//////////// -->
                    <div id="id_FooterUtility" class="ft_ut">
                        <div class="ft_ut_inr"> <span class="hide">Utility links</span>
                            <ul class="ft_ut_lst fl_n">
                                <li><a href="http://jp.ricoh.com/terms_of_use/">ご利用条件</a></li>
                                <li><a href="http://www.ricoh.co.jp/itkeeper/otoiawase.html">お問い合わせ</a></li>
                            </ul>
                            <p class="ft_pg_top smoothScroll dsp_n rsp_dsp_b"><a href="#wrapper">ページトップへ</a></p>
                            <!--/ft_ut_inr-->
                        </div>
                        <!--/ft_ut-->
                    </div>
                    <p class="ft_copy">(C) Ricoh Co., Ltd. / RICOH JAPAN Corp.</p>
                    <!-- ///////// /ssi footer//////////// -->
                    <!--/gl_footer-->
                </div>
                <!--/wrapper-->
            </div>
        </div>
    </div>
</body>

</html>