@charset "utf-8";

/*************************************************
CSS
/cmn_v1/css/column.css

14.10.01
update:15.04.15
*************************************************/



/* ============================== Clearfix */
.clm1:before,
.clm1:after,
.clm1_small:before,
.clm1_small:after { content: ""; display: table; }
.clm1:after,
.clm1_small:after { clear: both; }
.clm1,
.clm1_small { zoom: 1; }



/* ============================================================ Column Module */
/* clm1 */
.clm1 { width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* clm1_small */
.clm1_small { width: 75%; margin: 0 auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* clm */
.clm { width: 100%; float: left; padding: 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clm2 .clm { width: 50%; }
.clm3 .clm { width: 33.333%; }
.clm4 .clm { width: 25%; }
.clm5 .clm { width: 20%; }
.clm6 .clm { width: 16.666%; }





/* ============================================================ Media Queries */
@media (max-width: 640px) {
	.rsp_break_clm1 .clm { width: 100%; }
	.rsp_break_clm2 .clm { width: 50%; }
}

