@charset "utf-8";

/*************************************************
CSS
/cmn_v1/css/icon.css

14.10.01
update:15.04.15
*************************************************/



/* accordiondown */
.accordiondown     { background-image: url(../img/icon_s_accordiondown_01.png) !important; }
.accordiondown_w   { background-image: url(../img/icon_s_accordiondown_02.png) !important; }
.accordiondown_f   { background-image: url(../img/icon_s_accordiondown_03.png) !important; }
.accordiondown_fw  { background-image: url(../img/icon_s_accordiondown_04.png) !important; }
.accordiondown_l   { background-image: url(../img/icon_m_accordiondown_01.png) !important; }
.accordiondown_lw  { background-image: url(../img/icon_m_accordiondown_02.png) !important; }
.accordiondown_lf  { background-image: url(../img/icon_m_accordiondown_03.png) !important; }
.accordiondown_lfw { background-image: url(../img/icon_m_accordiondown_04.png) !important; }

/* accordionup */
.accordionup     { background-image: url(../img/icon_s_accordionup_01.png) !important; }
.accordionup_w   { background-image: url(../img/icon_s_accordionup_02.png) !important; }
.accordionup_f   { background-image: url(../img/icon_s_accordionup_03.png) !important; }
.accordionup_fw  { background-image: url(../img/icon_s_accordionup_04.png) !important; }
.accordionup_l   { background-image: url(../img/icon_m_accordionup_01.png) !important; }
.accordionup_lw  { background-image: url(../img/icon_m_accordionup_02.png) !important; }
.accordionup_lf  { background-image: url(../img/icon_m_accordionup_03.png) !important; }
.accordionup_lfw { background-image: url(../img/icon_m_accordionup_04.png) !important; }

/* alert */
.alert     { background-image: url(../img/icon_s_alert_01.png) !important; }
.alert_w   { background-image: url(../img/icon_s_alert_02.png) !important; }
.alert_f   { background-image: url(../img/icon_s_alert_03.png) !important; }
.alert_fw  { background-image: url(../img/icon_s_alert_04.png) !important; }
.alert_l   { background-image: url(../img/icon_m_alert_01.png) !important; }
.alert_lw  { background-image: url(../img/icon_m_alert_02.png) !important; }
.alert_lf  { background-image: url(../img/icon_m_alert_03.png) !important; }
.alert_lfw { background-image: url(../img/icon_m_alert_04.png) !important; }

/* ascending */
.ascending     { background-image: url(../img/icon_s_ascending_01.png) !important; }
.ascending_w   { background-image: url(../img/icon_s_ascending_02.png) !important; }
.ascending_f   { background-image: url(../img/icon_s_ascending_03.png) !important; }
.ascending_fw  { background-image: url(../img/icon_s_ascending_04.png) !important; }
.ascending_l   { background-image: url(../img/icon_m_ascending_01.png) !important; }
.ascending_lw  { background-image: url(../img/icon_m_ascending_02.png) !important; }
.ascending_lf  { background-image: url(../img/icon_m_ascending_03.png) !important; }
.ascending_lfw { background-image: url(../img/icon_m_ascending_04.png) !important; }

/* back */
.back     { background-image: url(../img/icon_s_back_01.png) !important; }
.back_w   { background-image: url(../img/icon_s_back_02.png) !important; }
.back_f   { background-image: url(../img/icon_s_back_03.png) !important; }
.back_fw  { background-image: url(../img/icon_s_back_04.png) !important; }
.back_l   { background-image: url(../img/icon_m_back_01.png) !important; }
.back_lw  { background-image: url(../img/icon_m_back_02.png) !important; }
.back_lf  { background-image: url(../img/icon_m_back_03.png) !important; }
.back_lfw { background-image: url(../img/icon_m_back_04.png) !important; }

/* cart */
.cart     { background-image: url(../img/icon_s_cart_01.png) !important; }
.cart_w   { background-image: url(../img/icon_s_cart_02.png) !important; }
.cart_f   { background-image: url(../img/icon_s_cart_03.png) !important; }
.cart_fw  { background-image: url(../img/icon_s_cart_04.png) !important; }
.cart_l   { background-image: url(../img/icon_m_cart_01.png) !important; }
.cart_lw  { background-image: url(../img/icon_m_cart_02.png) !important; }
.cart_lf  { background-image: url(../img/icon_m_cart_03.png) !important; }
.cart_lfw { background-image: url(../img/icon_m_cart_04.png) !important; }

/* close */
.close     { background-image: url(../img/icon_s_close_01.png) !important; }
.close_w   { background-image: url(../img/icon_s_close_02.png) !important; }
.close_f   { background-image: url(../img/icon_s_close_03.png) !important; }
.close_fw  { background-image: url(../img/icon_s_close_04.png) !important; }
.close_l   { background-image: url(../img/icon_m_close_01.png) !important; }
.close_lw  { background-image: url(../img/icon_m_close_02.png) !important; }
.close_lf  { background-image: url(../img/icon_m_close_03.png) !important; }
.close_lfw { background-image: url(../img/icon_m_close_04.png) !important; }

/* country */
.country     { background-image: url(../img/icon_s_country_01.png) !important; }
.country_w   { background-image: url(../img/icon_s_country_02.png) !important; }
.country_f   { background-image: url(../img/icon_s_country_03.png) !important; }
.country_fw  { background-image: url(../img/icon_s_country_04.png) !important; }
.country_l   { background-image: url(../img/icon_m_country_01.png) !important; }
.country_lw  { background-image: url(../img/icon_m_country_02.png) !important; }
.country_lf  { background-image: url(../img/icon_m_country_03.png) !important; }
.country_lfw { background-image: url(../img/icon_m_country_04.png) !important; }

/* descending */
.descending     { background-image: url(../img/icon_s_descending_01.png) !important; }
.descending_w   { background-image: url(../img/icon_s_descending_02.png) !important; }
.descending_f   { background-image: url(../img/icon_s_descending_03.png) !important; }
.descending_fw  { background-image: url(../img/icon_s_descending_04.png) !important; }
.descending_l   { background-image: url(../img/icon_m_descending_01.png) !important; }
.descending_lw  { background-image: url(../img/icon_m_descending_02.png) !important; }
.descending_lf  { background-image: url(../img/icon_m_descending_03.png) !important; }
.descending_lfw { background-image: url(../img/icon_m_descending_04.png) !important; }

/* down */
.down     { background-image: url(../img/icon_s_down_01.png) !important; }
.down_w   { background-image: url(../img/icon_s_down_02.png) !important; }
.down_f   { background-image: url(../img/icon_s_down_03.png) !important; }
.down_fw  { background-image: url(../img/icon_s_down_04.png) !important; }
.down_l   { background-image: url(../img/icon_m_down_01.png) !important; }
.down_lw  { background-image: url(../img/icon_m_down_02.png) !important; }
.down_lf  { background-image: url(../img/icon_m_down_03.png) !important; }
.down_lfw { background-image: url(../img/icon_m_down_04.png) !important; }

/* download */
.download     { background-image: url(../img/icon_s_download_01.png) !important; }
.download_w   { background-image: url(../img/icon_s_download_02.png) !important; }
.download_f   { background-image: url(../img/icon_s_download_03.png) !important; }
.download_fw  { background-image: url(../img/icon_s_download_04.png) !important; }
.download_l   { background-image: url(../img/icon_m_download_01.png) !important; }
.download_lw  { background-image: url(../img/icon_m_download_02.png) !important; }
.download_lf  { background-image: url(../img/icon_m_download_03.png) !important; }
.download_lfw { background-image: url(../img/icon_m_download_04.png) !important; }

/* external */
.external     { background-image: url(../img/icon_s_external_01.png) !important; }
.external_w   { background-image: url(../img/icon_s_external_02.png) !important; }
.external_f   { background-image: url(../img/icon_s_external_03.png) !important; }
.external_fw  { background-image: url(../img/icon_s_external_04.png) !important; }
.external_l   { background-image: url(../img/icon_m_external_01.png) !important; }
.external_lw  { background-image: url(../img/icon_m_external_02.png) !important; }
.external_lf  { background-image: url(../img/icon_m_external_03.png) !important; }
.external_lfw { background-image: url(../img/icon_m_external_04.png) !important; }

/* file */
.file     { background-image: url(../img/icon_s_file_01.png) !important; }
.file_w   { background-image: url(../img/icon_s_file_02.png) !important; }
.file_f   { background-image: url(../img/icon_s_file_03.png) !important; }
.file_fw  { background-image: url(../img/icon_s_file_04.png) !important; }
.file_l   { background-image: url(../img/icon_m_file_01.png) !important; }
.file_lw  { background-image: url(../img/icon_m_file_02.png) !important; }
.file_lf  { background-image: url(../img/icon_m_file_03.png) !important; }
.file_lfw { background-image: url(../img/icon_m_file_04.png) !important; }

/* first */
.first     { background-image: url(../img/icon_s_first_01.png) !important; }
.first_w   { background-image: url(../img/icon_s_first_02.png) !important; }
.first_f   { background-image: url(../img/icon_s_first_03.png) !important; }
.first_fw  { background-image: url(../img/icon_s_first_04.png) !important; }
.first_l   { background-image: url(../img/icon_m_first_01.png) !important; }
.first_lw  { background-image: url(../img/icon_m_first_02.png) !important; }
.first_lf  { background-image: url(../img/icon_m_first_03.png) !important; }
.first_lfw { background-image: url(../img/icon_m_first_04.png) !important; }

/* incart */
.incart     { background-image: url(../img/icon_s_incart_01.png) !important; }
.incart_w   { background-image: url(../img/icon_s_incart_02.png) !important; }
.incart_f   { background-image: url(../img/icon_s_incart_03.png) !important; }
.incart_fw  { background-image: url(../img/icon_s_incart_04.png) !important; }
.incart_l   { background-image: url(../img/icon_m_incart_01.png) !important; }
.incart_lw  { background-image: url(../img/icon_m_incart_02.png) !important; }
.incart_lf  { background-image: url(../img/icon_m_incart_03.png) !important; }
.incart_lfw { background-image: url(../img/icon_m_incart_04.png) !important; }

/* information */
.information     { background-image: url(../img/icon_s_information_01.png) !important; }
.information_w   { background-image: url(../img/icon_s_information_02.png) !important; }
.information_f   { background-image: url(../img/icon_s_information_03.png) !important; }
.information_fw  { background-image: url(../img/icon_s_information_04.png) !important; }
.information_l   { background-image: url(../img/icon_m_information_01.png) !important; }
.information_lw  { background-image: url(../img/icon_m_information_02.png) !important; }
.information_lf  { background-image: url(../img/icon_m_information_03.png) !important; }
.information_lfw { background-image: url(../img/icon_m_information_04.png) !important; }

/* last */
.last     { background-image: url(../img/icon_s_last_01.png) !important; }
.last_w   { background-image: url(../img/icon_s_last_02.png) !important; }
.last_f   { background-image: url(../img/icon_s_last_03.png) !important; }
.last_fw  { background-image: url(../img/icon_s_last_04.png) !important; }
.last_l   { background-image: url(../img/icon_m_last_01.png) !important; }
.last_lw  { background-image: url(../img/icon_m_last_02.png) !important; }
.last_lf  { background-image: url(../img/icon_m_last_03.png) !important; }
.last_lfw { background-image: url(../img/icon_m_last_04.png) !important; }

/* left */
.left     { background-image: url(../img/icon_s_left_01.png) !important; }
.left_w   { background-image: url(../img/icon_s_left_02.png) !important; }
.left_f   { background-image: url(../img/icon_s_left_03.png) !important; }
.left_fw  { background-image: url(../img/icon_s_left_04.png) !important; }
.left_l   { background-image: url(../img/icon_m_left_01.png) !important; }
.left_lw  { background-image: url(../img/icon_m_left_02.png) !important; }
.left_lf  { background-image: url(../img/icon_m_left_03.png) !important; }
.left_lfw { background-image: url(../img/icon_m_left_04.png) !important; }

/* mail */
.mail     { background-image: url(../img/icon_s_mail_01.png) !important; }
.mail_w   { background-image: url(../img/icon_s_mail_02.png) !important; }
.mail_f   { background-image: url(../img/icon_s_mail_03.png) !important; }
.mail_fw  { background-image: url(../img/icon_s_mail_04.png) !important; }
.mail_l   { background-image: url(../img/icon_m_mail_01.png) !important; }
.mail_lw  { background-image: url(../img/icon_m_mail_02.png) !important; }
.mail_lf  { background-image: url(../img/icon_m_mail_03.png) !important; }
.mail_lfw { background-image: url(../img/icon_m_mail_04.png) !important; }

/* map */
.map     { background-image: url(../img/icon_s_map_01.png) !important; }
.map_w   { background-image: url(../img/icon_s_map_02.png) !important; }
.map_f   { background-image: url(../img/icon_s_map_03.png) !important; }
.map_fw  { background-image: url(../img/icon_s_map_04.png) !important; }
.map_l   { background-image: url(../img/icon_m_map_01.png) !important; }
.map_lw  { background-image: url(../img/icon_m_map_02.png) !important; }
.map_lf  { background-image: url(../img/icon_m_map_03.png) !important; }
.map_lfw { background-image: url(../img/icon_m_map_04.png) !important; }

/* menu */
.menu     { background-image: url(../img/icon_s_menu_01.png) !important; }
.menu_w   { background-image: url(../img/icon_s_menu_02.png) !important; }
.menu_f   { background-image: url(../img/icon_s_menu_03.png) !important; }
.menu_fw  { background-image: url(../img/icon_s_menu_04.png) !important; }
.menu_l   { background-image: url(../img/icon_m_menu_01.png) !important; }
.menu_lw  { background-image: url(../img/icon_m_menu_02.png) !important; }
.menu_lf  { background-image: url(../img/icon_m_menu_03.png) !important; }
.menu_lfw { background-image: url(../img/icon_m_menu_04.png) !important; }

/* narrow */
.narrow     { background-image: url(../img/icon_s_narrow_01.png) !important; }
.narrow_w   { background-image: url(../img/icon_s_narrow_02.png) !important; }
.narrow_f   { background-image: url(../img/icon_s_narrow_03.png) !important; }
.narrow_fw  { background-image: url(../img/icon_s_narrow_04.png) !important; }
.narrow_l   { background-image: url(../img/icon_m_narrow_01.png) !important; }
.narrow_lw  { background-image: url(../img/icon_m_narrow_02.png) !important; }
.narrow_lf  { background-image: url(../img/icon_m_narrow_03.png) !important; }
.narrow_lfw { background-image: url(../img/icon_m_narrow_04.png) !important; }

/* newwindow */
.newwindow     { background-image: url(../img/icon_s_newwindow_01.png) !important; }
.newwindow_w   { background-image: url(../img/icon_s_newwindow_02.png) !important; }
.newwindow_f   { background-image: url(../img/icon_s_newwindow_03.png) !important; }
.newwindow_fw  { background-image: url(../img/icon_s_newwindow_04.png) !important; }
.newwindow_l   { background-image: url(../img/icon_m_newwindow_01.png) !important; }
.newwindow_lw  { background-image: url(../img/icon_m_newwindow_02.png) !important; }
.newwindow_lf  { background-image: url(../img/icon_m_newwindow_03.png) !important; }
.newwindow_lfw { background-image: url(../img/icon_m_newwindow_04.png) !important; }

/* pdf */
.pdf { background-image: url(../img/icon_s_pdf_01.png) !important; }

/* print */
.print     { background-image: url(../img/icon_s_print_01.png) !important; }
.print_w   { background-image: url(../img/icon_s_print_02.png) !important; }
.print_f   { background-image: url(../img/icon_s_print_03.png) !important; }
.print_fw  { background-image: url(../img/icon_s_print_04.png) !important; }
.print_l   { background-image: url(../img/icon_m_print_01.png) !important; }
.print_lw  { background-image: url(../img/icon_m_print_02.png) !important; }
.print_lf  { background-image: url(../img/icon_m_print_03.png) !important; }
.print_lfw { background-image: url(../img/icon_m_print_04.png) !important; }

/* right */
.right     { background-image: url(../img/icon_s_right_01.png) !important; }
.right_w   { background-image: url(../img/icon_s_right_02.png) !important; }
.right_f   { background-image: url(../img/icon_s_right_03.png) !important; }
.right_fw  { background-image: url(../img/icon_s_right_04.png) !important; }
.right_l   { background-image: url(../img/icon_m_right_01.png) !important; }
.right_lw  { background-image: url(../img/icon_m_right_02.png) !important; }
.right_lf  { background-image: url(../img/icon_m_right_03.png) !important; }
.right_lfw { background-image: url(../img/icon_m_right_04.png) !important; }

/* rss */
.rss     { background-image: url(../img/icon_s_rss_01.png) !important; }
.rss_w   { background-image: url(../img/icon_s_rss_02.png) !important; }
.rss_f   { background-image: url(../img/icon_s_rss_03.png) !important; }
.rss_fw  { background-image: url(../img/icon_s_rss_04.png) !important; }
.rss_l   { background-image: url(../img/icon_m_rss_01.png) !important; }
.rss_lw  { background-image: url(../img/icon_m_rss_02.png) !important; }
.rss_lf  { background-image: url(../img/icon_m_rss_03.png) !important; }
.rss_lfw { background-image: url(../img/icon_m_rss_04.png) !important; }

/* search */
.search     { background-image: url(../img/icon_s_search_01.png) !important; }
.search_w   { background-image: url(../img/icon_s_search_02.png) !important; }
.search_f   { background-image: url(../img/icon_s_search_03.png) !important; }
.search_fw  { background-image: url(../img/icon_s_search_04.png) !important; }
.search_l   { background-image: url(../img/icon_m_search_01.png) !important; }
.search_lw  { background-image: url(../img/icon_m_search_02.png) !important; }
.search_lf  { background-image: url(../img/icon_m_search_03.png) !important; }
.search_lfw { background-image: url(../img/icon_m_search_04.png) !important; }

/* share */
.share     { background-image: url(../img/icon_s_share_01.png) !important; }
.share_w   { background-image: url(../img/icon_s_share_02.png) !important; }
.share_f   { background-image: url(../img/icon_s_share_03.png) !important; }
.share_fw  { background-image: url(../img/icon_s_share_04.png) !important; }
.share_l   { background-image: url(../img/icon_m_share_01.png) !important; }
.share_lw  { background-image: url(../img/icon_m_share_02.png) !important; }
.share_lf  { background-image: url(../img/icon_m_share_03.png) !important; }
.share_lfw { background-image: url(../img/icon_m_share_04.png) !important; }

/* telephone */
.telephone     { background-image: url(../img/icon_s_telephone_01.png) !important; }
.telephone_w   { background-image: url(../img/icon_s_telephone_02.png) !important; }
.telephone_f   { background-image: url(../img/icon_s_telephone_03.png) !important; }
.telephone_fw  { background-image: url(../img/icon_s_telephone_04.png) !important; }
.telephone_l   { background-image: url(../img/icon_m_telephone_01.png) !important; }
.telephone_lw  { background-image: url(../img/icon_m_telephone_02.png) !important; }
.telephone_lf  { background-image: url(../img/icon_m_telephone_03.png) !important; }
.telephone_lfw { background-image: url(../img/icon_m_telephone_04.png) !important; }

/* up */
.up     { background-image: url(../img/icon_s_up_01.png) !important; }
.up_w   { background-image: url(../img/icon_s_up_02.png) !important; }
.up_f   { background-image: url(../img/icon_s_up_03.png) !important; }
.up_fw  { background-image: url(../img/icon_s_up_04.png) !important; }
.up_l   { background-image: url(../img/icon_m_up_01.png) !important; }
.up_lw  { background-image: url(../img/icon_m_up_02.png) !important; }
.up_lf  { background-image: url(../img/icon_m_up_03.png) !important; }
.up_lfw { background-image: url(../img/icon_m_up_04.png) !important; }

/* video */
.video     { background-image: url(../img/icon_s_video_01.png) !important; }
.video_w   { background-image: url(../img/icon_s_video_02.png) !important; }
.video_f   { background-image: url(../img/icon_s_video_03.png) !important; }
.video_fw  { background-image: url(../img/icon_s_video_04.png) !important; }
.video_l   { background-image: url(../img/icon_m_video_01.png) !important; }
.video_lw  { background-image: url(../img/icon_m_video_02.png) !important; }
.video_lf  { background-image: url(../img/icon_m_video_03.png) !important; }
.video_lfw { background-image: url(../img/icon_m_video_04.png) !important; }

/* zoom */
.zoom     { background-image: url(../img/icon_s_zoom_01.png) !important; }
.zoom_w   { background-image: url(../img/icon_s_zoom_02.png) !important; }
.zoom_f   { background-image: url(../img/icon_s_zoom_03.png) !important; }
.zoom_fw  { background-image: url(../img/icon_s_zoom_04.png) !important; }
.zoom_l   { background-image: url(../img/icon_m_zoom_01.png) !important; }
.zoom_lw  { background-image: url(../img/icon_m_zoom_02.png) !important; }
.zoom_lf  { background-image: url(../img/icon_m_zoom_03.png) !important; }
.zoom_lfw { background-image: url(../img/icon_m_zoom_04.png) !important; }

/* @media */
@media (max-width: 640px) {
	/* accordiondown */
	.accordiondown     { background-image: url(../img/icon_m_accordiondown_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.accordiondown_w   { background-image: url(../img/icon_m_accordiondown_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.accordiondown_f   { background-image: url(../img/icon_m_accordiondown_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.accordiondown_fw  { background-image: url(../img/icon_m_accordiondown_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.accordiondown_l   { background-image: url(../img/icon_l_accordiondown_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.accordiondown_lw  { background-image: url(../img/icon_l_accordiondown_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.accordiondown_lf  { background-image: url(../img/icon_l_accordiondown_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.accordiondown_lfw { background-image: url(../img/icon_l_accordiondown_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* accordionup */
	.accordionup     { background-image: url(../img/icon_m_accordionup_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.accordionup_w   { background-image: url(../img/icon_m_accordionup_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.accordionup_f   { background-image: url(../img/icon_m_accordionup_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.accordionup_fw  { background-image: url(../img/icon_m_accordionup_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.accordionup_l   { background-image: url(../img/icon_l_accordionup_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.accordionup_lw  { background-image: url(../img/icon_l_accordionup_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.accordionup_lf  { background-image: url(../img/icon_l_accordionup_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.accordionup_lfw { background-image: url(../img/icon_l_accordionup_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* alert */
	.alert     { background-image: url(../img/icon_m_alert_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.alert_w   { background-image: url(../img/icon_m_alert_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.alert_f   { background-image: url(../img/icon_m_alert_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.alert_fw  { background-image: url(../img/icon_m_alert_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.alert_l   { background-image: url(../img/icon_l_alert_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.alert_lw  { background-image: url(../img/icon_l_alert_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.alert_lf  { background-image: url(../img/icon_l_alert_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.alert_lfw { background-image: url(../img/icon_l_alert_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* ascending */
	.ascending     { background-image: url(../img/icon_m_ascending_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.ascending_w   { background-image: url(../img/icon_m_ascending_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.ascending_f   { background-image: url(../img/icon_m_ascending_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.ascending_fw  { background-image: url(../img/icon_m_ascending_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.ascending_l   { background-image: url(../img/icon_l_ascending_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.ascending_lw  { background-image: url(../img/icon_l_ascending_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.ascending_lf  { background-image: url(../img/icon_l_ascending_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.ascending_lfw { background-image: url(../img/icon_l_ascending_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* back */
	.back     { background-image: url(../img/icon_m_back_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.back_w   { background-image: url(../img/icon_m_back_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.back_f   { background-image: url(../img/icon_m_back_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.back_fw  { background-image: url(../img/icon_m_back_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.back_l   { background-image: url(../img/icon_l_back_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.back_lw  { background-image: url(../img/icon_l_back_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.back_lf  { background-image: url(../img/icon_l_back_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.back_lfw { background-image: url(../img/icon_l_back_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* cart */
	.cart     { background-image: url(../img/icon_m_cart_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.cart_w   { background-image: url(../img/icon_m_cart_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.cart_f   { background-image: url(../img/icon_m_cart_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.cart_fw  { background-image: url(../img/icon_m_cart_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.cart_l   { background-image: url(../img/icon_l_cart_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.cart_lw  { background-image: url(../img/icon_l_cart_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.cart_lf  { background-image: url(../img/icon_l_cart_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.cart_lfw { background-image: url(../img/icon_l_cart_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* close */
	.close     { background-image: url(../img/icon_m_close_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.close_w   { background-image: url(../img/icon_m_close_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.close_f   { background-image: url(../img/icon_m_close_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.close_fw  { background-image: url(../img/icon_m_close_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.close_l   { background-image: url(../img/icon_l_close_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.close_lw  { background-image: url(../img/icon_l_close_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.close_lf  { background-image: url(../img/icon_l_close_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.close_lfw { background-image: url(../img/icon_l_close_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* country */
	.country     { background-image: url(../img/icon_m_country_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.country_w   { background-image: url(../img/icon_m_country_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.country_f   { background-image: url(../img/icon_m_country_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.country_fw  { background-image: url(../img/icon_m_country_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.country_l   { background-image: url(../img/icon_l_country_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.country_lw  { background-image: url(../img/icon_l_country_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.country_lf  { background-image: url(../img/icon_l_country_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.country_lfw { background-image: url(../img/icon_l_country_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* descending */
	.descending     { background-image: url(../img/icon_m_descending_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.descending_w   { background-image: url(../img/icon_m_descending_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.descending_f   { background-image: url(../img/icon_m_descending_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.descending_fw  { background-image: url(../img/icon_m_descending_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.descending_l   { background-image: url(../img/icon_l_descending_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.descending_lw  { background-image: url(../img/icon_l_descending_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.descending_lf  { background-image: url(../img/icon_l_descending_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.descending_lfw { background-image: url(../img/icon_l_descending_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* down */
	.down     { background-image: url(../img/icon_m_down_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.down_w   { background-image: url(../img/icon_m_down_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.down_f   { background-image: url(../img/icon_m_down_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.down_fw  { background-image: url(../img/icon_m_down_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.down_l   { background-image: url(../img/icon_l_down_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.down_lw  { background-image: url(../img/icon_l_down_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.down_lf  { background-image: url(../img/icon_l_down_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.down_lfw { background-image: url(../img/icon_l_down_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* download */
	.download     { background-image: url(../img/icon_m_download_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.download_w   { background-image: url(../img/icon_m_download_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.download_f   { background-image: url(../img/icon_m_download_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.download_fw  { background-image: url(../img/icon_m_download_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.download_l   { background-image: url(../img/icon_l_download_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.download_lw  { background-image: url(../img/icon_l_download_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.download_lf  { background-image: url(../img/icon_l_download_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.download_lfw { background-image: url(../img/icon_l_download_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* external */
	.external     { background-image: url(../img/icon_m_external_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.external_w   { background-image: url(../img/icon_m_external_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.external_f   { background-image: url(../img/icon_m_external_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.external_fw  { background-image: url(../img/icon_m_external_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.external_l   { background-image: url(../img/icon_l_external_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.external_lw  { background-image: url(../img/icon_l_external_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.external_lf  { background-image: url(../img/icon_l_external_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.external_lfw { background-image: url(../img/icon_l_external_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* file */
	.file     { background-image: url(../img/icon_m_file_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.file_w   { background-image: url(../img/icon_m_file_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.file_f   { background-image: url(../img/icon_m_file_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.file_fw  { background-image: url(../img/icon_m_file_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.file_l   { background-image: url(../img/icon_l_file_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.file_lw  { background-image: url(../img/icon_l_file_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.file_lf  { background-image: url(../img/icon_l_file_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.file_lfw { background-image: url(../img/icon_l_file_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* first */
	.first     { background-image: url(../img/icon_m_first_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.first_w   { background-image: url(../img/icon_m_first_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.first_f   { background-image: url(../img/icon_m_first_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.first_fw  { background-image: url(../img/icon_m_first_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.first_l   { background-image: url(../img/icon_l_first_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.first_lw  { background-image: url(../img/icon_l_first_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.first_lf  { background-image: url(../img/icon_l_first_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.first_lfw { background-image: url(../img/icon_l_first_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* incart */
	.incart     { background-image: url(../img/icon_m_incart_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.incart_w   { background-image: url(../img/icon_m_incart_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.incart_f   { background-image: url(../img/icon_m_incart_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.incart_fw  { background-image: url(../img/icon_m_incart_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.incart_l   { background-image: url(../img/icon_l_incart_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.incart_lw  { background-image: url(../img/icon_l_incart_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.incart_lf  { background-image: url(../img/icon_l_incart_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.incart_lfw { background-image: url(../img/icon_l_incart_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* information */
	.information     { background-image: url(../img/icon_m_information_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.information_w   { background-image: url(../img/icon_m_information_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.information_f   { background-image: url(../img/icon_m_information_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.information_fw  { background-image: url(../img/icon_m_information_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.information_l   { background-image: url(../img/icon_l_information_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.information_lw  { background-image: url(../img/icon_l_information_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.information_lf  { background-image: url(../img/icon_l_information_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.information_lfw { background-image: url(../img/icon_l_information_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* last */
	.last     { background-image: url(../img/icon_m_last_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.last_w   { background-image: url(../img/icon_m_last_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.last_f   { background-image: url(../img/icon_m_last_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.last_fw  { background-image: url(../img/icon_m_last_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.last_l   { background-image: url(../img/icon_l_last_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.last_lw  { background-image: url(../img/icon_l_last_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.last_lf  { background-image: url(../img/icon_l_last_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.last_lfw { background-image: url(../img/icon_l_last_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* left */
	.left     { background-image: url(../img/icon_m_left_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.left_w   { background-image: url(../img/icon_m_left_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.left_f   { background-image: url(../img/icon_m_left_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.left_fw  { background-image: url(../img/icon_m_left_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.left_l   { background-image: url(../img/icon_l_left_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.left_lw  { background-image: url(../img/icon_l_left_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.left_lf  { background-image: url(../img/icon_l_left_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.left_lfw { background-image: url(../img/icon_l_left_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* mail */
	.mail     { background-image: url(../img/icon_m_mail_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.mail_w   { background-image: url(../img/icon_m_mail_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.mail_f   { background-image: url(../img/icon_m_mail_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.mail_fw  { background-image: url(../img/icon_m_mail_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.mail_l   { background-image: url(../img/icon_l_mail_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.mail_lw  { background-image: url(../img/icon_l_mail_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.mail_lf  { background-image: url(../img/icon_l_mail_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.mail_lfw { background-image: url(../img/icon_l_mail_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* map */
	.map     { background-image: url(../img/icon_m_map_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.map_w   { background-image: url(../img/icon_m_map_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.map_f   { background-image: url(../img/icon_m_map_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.map_fw  { background-image: url(../img/icon_m_map_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.map_l   { background-image: url(../img/icon_l_map_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.map_lw  { background-image: url(../img/icon_l_map_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.map_lf  { background-image: url(../img/icon_l_map_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.map_lfw { background-image: url(../img/icon_l_map_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* menu */
	.menu     { background-image: url(../img/icon_m_menu_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.menu_w   { background-image: url(../img/icon_m_menu_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.menu_f   { background-image: url(../img/icon_m_menu_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.menu_fw  { background-image: url(../img/icon_m_menu_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.menu_l   { background-image: url(../img/icon_l_menu_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.menu_lw  { background-image: url(../img/icon_l_menu_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.menu_lf  { background-image: url(../img/icon_l_menu_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.menu_lfw { background-image: url(../img/icon_l_menu_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* narrow */
	.narrow     { background-image: url(../img/icon_m_narrow_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.narrow_w   { background-image: url(../img/icon_m_narrow_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.narrow_f   { background-image: url(../img/icon_m_narrow_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.narrow_fw  { background-image: url(../img/icon_m_narrow_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.narrow_l   { background-image: url(../img/icon_l_narrow_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.narrow_lw  { background-image: url(../img/icon_l_narrow_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.narrow_lf  { background-image: url(../img/icon_l_narrow_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.narrow_lfw { background-image: url(../img/icon_l_narrow_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* newwindow */
	.newwindow     { background-image: url(../img/icon_m_newwindow_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.newwindow_w   { background-image: url(../img/icon_m_newwindow_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.newwindow_f   { background-image: url(../img/icon_m_newwindow_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.newwindow_fw  { background-image: url(../img/icon_m_newwindow_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.newwindow_l   { background-image: url(../img/icon_l_newwindow_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.newwindow_lw  { background-image: url(../img/icon_l_newwindow_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.newwindow_lf  { background-image: url(../img/icon_l_newwindow_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.newwindow_lfw { background-image: url(../img/icon_l_newwindow_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* pdf */
	.pdf { background-image: url(../img/icon_m_pdf_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* print */
	.print     { background-image: url(../img/icon_m_print_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.print_w   { background-image: url(../img/icon_m_print_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.print_f   { background-image: url(../img/icon_m_print_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.print_fw  { background-image: url(../img/icon_m_print_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.print_l   { background-image: url(../img/icon_l_print_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.print_lw  { background-image: url(../img/icon_l_print_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.print_lf  { background-image: url(../img/icon_l_print_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.print_lfw { background-image: url(../img/icon_l_print_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* right */
	.right     { background-image: url(../img/icon_m_right_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.right_w   { background-image: url(../img/icon_m_right_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.right_f   { background-image: url(../img/icon_m_right_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.right_fw  { background-image: url(../img/icon_m_right_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.right_l   { background-image: url(../img/icon_l_right_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.right_lw  { background-image: url(../img/icon_l_right_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.right_lf  { background-image: url(../img/icon_l_right_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.right_lfw { background-image: url(../img/icon_l_right_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* rss */
	.rss     { background-image: url(../img/icon_m_rss_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.rss_w   { background-image: url(../img/icon_m_rss_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.rss_f   { background-image: url(../img/icon_m_rss_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.rss_fw  { background-image: url(../img/icon_m_rss_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.rss_l   { background-image: url(../img/icon_l_rss_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.rss_lw  { background-image: url(../img/icon_l_rss_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.rss_lf  { background-image: url(../img/icon_l_rss_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.rss_lfw { background-image: url(../img/icon_l_rss_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* search */
	.search     { background-image: url(../img/icon_m_search_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.search_w   { background-image: url(../img/icon_m_search_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.search_f   { background-image: url(../img/icon_m_search_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.search_fw  { background-image: url(../img/icon_m_search_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.search_l   { background-image: url(../img/icon_l_search_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.search_lw  { background-image: url(../img/icon_l_search_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.search_lf  { background-image: url(../img/icon_l_search_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.search_lfw { background-image: url(../img/icon_l_search_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* share */
	.share     { background-image: url(../img/icon_m_share_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.share_w   { background-image: url(../img/icon_m_share_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.share_f   { background-image: url(../img/icon_m_share_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.share_fw  { background-image: url(../img/icon_m_share_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.share_l   { background-image: url(../img/icon_l_share_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.share_lw  { background-image: url(../img/icon_l_share_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.share_lf  { background-image: url(../img/icon_l_share_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.share_lfw { background-image: url(../img/icon_l_share_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* telephone */
	.telephone     { background-image: url(../img/icon_m_telephone_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.telephone_w   { background-image: url(../img/icon_m_telephone_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.telephone_f   { background-image: url(../img/icon_m_telephone_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.telephone_fw  { background-image: url(../img/icon_m_telephone_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.telephone_l   { background-image: url(../img/icon_l_telephone_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.telephone_lw  { background-image: url(../img/icon_l_telephone_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.telephone_lf  { background-image: url(../img/icon_l_telephone_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.telephone_lfw { background-image: url(../img/icon_l_telephone_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* up */
	.up     { background-image: url(../img/icon_m_up_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.up_w   { background-image: url(../img/icon_m_up_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.up_f   { background-image: url(../img/icon_m_up_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.up_fw  { background-image: url(../img/icon_m_up_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.up_l   { background-image: url(../img/icon_l_up_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.up_lw  { background-image: url(../img/icon_l_up_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.up_lf  { background-image: url(../img/icon_l_up_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.up_lfw { background-image: url(../img/icon_l_up_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* video */
	.video     { background-image: url(../img/icon_m_video_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.video_w   { background-image: url(../img/icon_m_video_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.video_f   { background-image: url(../img/icon_m_video_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.video_fw  { background-image: url(../img/icon_m_video_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.video_l   { background-image: url(../img/icon_l_video_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.video_lw  { background-image: url(../img/icon_l_video_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.video_lf  { background-image: url(../img/icon_l_video_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.video_lfw { background-image: url(../img/icon_l_video_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }

	/* zoom */
	.zoom     { background-image: url(../img/icon_m_zoom_01.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.zoom_w   { background-image: url(../img/icon_m_zoom_02.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.zoom_f   { background-image: url(../img/icon_m_zoom_03.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.zoom_fw  { background-image: url(../img/icon_m_zoom_04.png); -webkit-background-size: 16px 16px; background-size: 16px 16px !important; }
	.zoom_l   { background-image: url(../img/icon_l_zoom_01.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.zoom_lw  { background-image: url(../img/icon_l_zoom_02.png); -webkit-background-size: 32px 32px; background-size: 32px 32px !important; }
	.zoom_lf  { background-image: url(../img/icon_l_zoom_03.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
	.zoom_lfw { background-image: url(../img/icon_l_zoom_04.png); -webkit-background-size: 24px 24px; background-size: 24px 24px !important; }
}
